<ion-header>
        <div class="headerbg_wh">
    <div class="container" style="width: 100%; ">
       <!-- padding-top: 20px; padding-bottom: 20px;" -->
        <button style="width: 20%;float: left;background-color: transparent;" icon-only >
            <i (click)="goback()" class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <ion-title style="width: 80%;float: left;">{{"VERIFICATION" | translate}}</ion-title>
    </div>
    </div>
</ion-header>
<ion-content style="background-color: rgb(245, 244, 244);">
    
    <div class="container-fluid " style="margin-top: 40px;">
        <br><br>
        
        <h4 style="color:black; font-size:20px; font-weight:600; padding-bottom:0px; margin-bottom:15px; margin-top:10px; text-align:center;">
                    {{"VERIFYMOBILE" | translate}} </h4>
       
        <h3 style="color: #7f7979; font-size:13px; text-align:center;">{{"ENTERYOUROTP" | translate}}</h3>
        <br><br>
        <div class="form-group form-inline" style="width: 100%">
            <!-- (change)="fileChange()" (ionInput)="test($event)" (paste)="omp($event)" (keypress)="om($event)" -->
             <div><input   (click)="clickpgeauto()"  (focus)="s1()" [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true"  type="number"  class="OptULli" id="otp1" maxlength="1" [(ngModel)]="otpone" (keyup)="moveto(1)"  /></div>
             <div><input   (focus)="s2()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true"  type="number" class="OptULli"  id="otp2" maxlength="1" [(ngModel)]="otptwo" (keyup)="moveto(2)"  /></div>
             <div><input  (focus)="s3()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp3" maxlength="1" [(ngModel)]="otpthree" (keyup)="moveto(3)" /></div>
             <div><input  (focus)="s4()" [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp4"  maxlength="1" [(ngModel)]="otpfour" (keyup)="moveto(4)" /></div>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <p id="hidebutton"></p>
        <div class="row" style="width: 100%;padding-left: 32px;">
            <div class="col-md-12 col-lg-12" style="float: left;width:100%">
                <button class="btn btn-primary  btn-block register" style="border-radius: 21px;" (click)="gohome()">{{"VERIFYNOW" | translate}}</button>
            </div>            
        </div>
    </div>
</ion-content>
