<ion-header>
        <div class="headerbg_wh">
    <div class="container" style="display: flex;justify-content: center;align-items: center;">
        <span style="font-size:20px; cursor:pointer;flex: 1;"  ><i class="fa fa-arrow-left" (click)="gotoback()" aria-hidden="true" style="    padding: 0 10px;font-size: 20px;"></i> &nbsp; {{"MYORDER" | translate}}</span>
        <!--style=" padding-top: 20px; padding-bottom: 20px;" <span style="font-size: 24px;cursor:pointer;float: right;" ><i class="fa fa-search" (click)="gotosearch()" aria-hidden="true" style="font-size: 16px;"></i></span> -->
        
                <span (click)="gotosearch()" class="myorder_search" style="flex: 1;"> 
                    <div class="form-group" style="margin: 0;">
                        <div class="input-group">
                           
                            <input id="text" type="text" class="form-control Ccontrol" name="text"
                                placeholder="{{'SEARCHT' | translate}}" style="    border-radius: 5px 0 0 5px !important;  border-left: 1px solid #b8b8b8 !important;height: 30px;" required>
                                <span class="input-group-addon Caddon"style="      border-left: 0 !important;
                                border-radius: 0 5px 5px 0 !important;border-right: 1px solid #b8b8b8 !important;" ><img class="searchimg" src="assets/images/search.png"></span>
                        </div>
                    </div>
                </span> 
           
    </div> 
    </div>
</ion-header>
<ion-content style="background-color: rgb(245, 244, 244);">
    
    <div style="padding-left: 10px;padding-right: 10px;" *ngIf="orderlist">
        <div   *ngFor="let ol of orderlist"  style="margin-top: 20px;box-sizing: border-box;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 12px;padding: 5px;    padding-bottom: 14px;">
            <div class="container-fluid" style="padding-right: 0px;margin-top: 10px;">
                <div class="card bg-light">
                    <div class="card-body text-center deliverycss">    
                        <div class="notificationh3" style="    font-size: 18px;
                        border-bottom: 1px solid #ae9435;
                        padding: 0 0 10px;">
                    <span>{{"ORDERSTATUS" | translate}}</span>
                    <span style=" color: green;float: right;" *ngIf="ol.order_status=='Complete' "> {{"COMPLETEORDER" | translate}}
                        <!-- <img src="assets/imgs/comlete.png"> -->
                    </span>
                    <span style=" color: orange;float: right;" *ngIf="ol.order_status=='Pending' "> {{"ORDERPROCESSING" | translate}}</span>
                    <span style=" color: red;float: right;" *ngIf="ol.order_status=='Canceled' "> {{"CANCELORDER" | translate}}</span>
                    </div>
                        <h4 class="myorderh4">{{"TRANSACTIONID" | translate}} : {{ol.order_id}}</h4> 
                        <h4 class="myorderh4">{{"PLACEORDER" | translate}} : {{ol.order_date}}</h4>
                        <!-- <h4 class="myorderh4" [ngClass]="{'ordercomplte' : '{{ol.order_status}}' == Complete}"  >{{"ORDERprocessing" | translate}} : {{ol.order_status}}</h4> -->
                        <!--<h4 class="myorderh4">{{ol.product_quantity}}/ Products</h4> -->
                    </div>
                </div> 
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-8">
                            <h3 class="notificationh3" style="margin-bottom:10px;font-size: 16px">{{"SHIPMENT" | translate}} : {{ol.product_quantity}} {{"PRODUCTS" | translate}}</h3> </div>
                        <div class="col" style="text-align:right;"><a style="font-size:16px; float: right;width: 66%;font-weight: 400;color: #337ab7 !important;" (click)="goOrderDetails(ol.order_id)" >
                            {{"VIEWDETAILS" | translate}}</a></div>         
                    </div>
                    <!-- <div class="row" style="width: 100%;">           
                        <div *ngFor="let pd of ol.product" class="col-sm-6" style="width: 49%;padding-left: 5px;padding-right: 0px;border-radius: 7px;">
                            <img  style="padding: 10px;" src="{{pd.image}}" alt="Photo of sunset">
                        </div>
                    </div>
                    <br> -->
                    <!-- <div >
                        <div >
                            <button class="btn btn-primary  btn-block register" style="border-radius: 34px;width: 90%" (click)="goOrderDetails(ol.order_id)" >{{"REORDER" | translate}}</button>
                        </div>
                    </div>  -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="norecourd=='1'"  style="margin-top: 136px;    margin-top: 136px;   position: absolute;  top: 0px;  font-size: 36px;   left: 61px;  color: #c3cccc;" >{{"NORECORDFOUND" | translate}}</div>
    
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
            <div (click)="gotohome()" style="text-align:center; width:20%; float:left;">
                <a class="iconname"  style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}}  
                </a>
            </div> 
            <div (click)="gotosearch()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div (click)="gotocat()" style="text-align:center; width:20%; float:left;">
                <a class="iconname"  style="color:black;font-size: 12px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}} </a>
            </div>
            <div (click)="gotobag()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div  (click)="gotoaccount()"  style="text-align:center; width:20%; float:left;">
                <a   class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
       
    
    </ion-toolbar>
</ion-footer> -->
<ion-footer>
        <div style="display:flex;">
           <div (click)="gotohome()"  style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocat()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>