page-myOrder{
    .deliverycss{
           background-color: #f5f3f3;
    padding: 13px;
    width: 96%;
    border-radius: 4px;
    }
    .md ion-footer .toolbar:last-child {
        min-height: calc(46px + env(safe-area-inset-bottom));
    }
     
    
}