<ion-header >
        <div class="headerbg_wh">
        <div class="container" style="width: 100%; ">
    <div style="width: 100%;display: flex ;">
            <!-- padding-top: 20px; padding-bottom: 20px; 
             style="width: 20%;float: left;background-color: transparent;" -->
        <button icon-only style="text-align:left; flex: 1;background-color: transparent;" >
            <i (click)="gotoback()" class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <span style="flex:6; font-size: 20px">{{"MYACCOUNT" | translate}}</span>
        <!-- style="width: 80%;float: left;    margin-top: -4px;" -->
    </div>
    </div>
    </div>
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);" class="myaccount">    
   
    
    <div class="container-fluid pt-5 align_content" style="margin-top: 10px">
        <form class="loginpage "style="width:90%; margin:0 auto;" >
            <div class="media" >
                <div class="media-body" style="text-align: -webkit-center;    margin-top: 14px;" >
                    <img src="assets/imgs/thumb.png" class="align-self-center" style="width:60px">
                </div>
            </div>
            <div class="form-group form-inline" style="width: 100%;">
                <!-- <label style="width:10%;float: left"></label> -->
                <input name="fname" class="line-animation" placeholder='{{"FNAME" | translate}}'type="text" style="color:black;float: left" [(ngModel)]="fname" >
                <div class="line"></div>
            </div>
         
            <div class="form-group form-inline" style="width: 100%;">
                <!-- <label style="width:10%;float: left"></label> -->
                <input name="lname" class="line-animation" placeholder='{{"LNAME" | translate}}' type="text" style="color:black;float: left" [(ngModel)]="lname" >
                <div class="line"></div>
            </div>
            
            <div class="form-group form-inline" style="width: 100%;">
                <!-- <label style="width:10%;float: left"></label> -->
                <input name="email" class="line-animation" placeholder='{{"EMAIL" | translate}}' type="text" style="color:black;float: left" [(ngModel)]="email" >
                <div class="line"></div>
            </div>
            
            <div class="form-group form-inline" style="width: 100%;">
                <!-- <label style="width:10%;float: left"></label> -->
                <input name="mobile" class="line-animation" placeholder='{{"MOBILENUMBER" | translate}}' type="number" style="color:black;float: left" [(ngModel)]="mobilenumber" >
                <div class="line"></div>
            </div>
            <div class="form-group form-inline" style="width: 100%;">
                <!-- <label style="width:10%;float: left"></label> -->
                <input name="adress" class="line-animation" placeholder='{{"ADDRESS" | translate}}' type="text" style="color:black;float: left" [(ngModel)]="address" >
                <div class="line"></div>
            </div>
            <br>
           <!--<h3 style="color:#666; font-size:14px; text-align:center;color: #292727;">Already Registerd ? Login Here </h3>-->
        </form>
        <div class="col-md-12 col-lg-12" style="padding: 0 50px;">
                <button class="btn btn-primary  btn-block register" style="border-radius: 21px;" (click)="updateprofile()" > {{"UPDATEPROFILE" | translate}}</button>
            </div>
    </div>
</ion-content>
<ion-footer>
        <div style="display:flex;">
           <div (click)="gotohome()"  style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocat()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>
<!-- <ion-footer>
    <ion-toolbar>
            <div (click)="gotohome()" style="text-align:center; width:20%; float:left;">
                <a class="iconname"  style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}}  
                </a>
            </div> 
            <div (click)="gotosearch()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div (click)="gotocat()"   style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}} </a>
            </div>
            <div (click)="gotobag()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div (click)="gotoaccount()"  style="text-align:center; width:20%; float:left;">
                <a   class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
    </ion-toolbar>
</ion-footer> -->