
<ion-header>
        <div class="headerbg_wh">
    <div class="container" >
            <!-- style=" padding-top: 20px; padding-bottom: 10px;" -->
        <span style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left" (click)="gotoback()" aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"SHOPPINGCART" | translate}}</small> </span>
        <span style="font-size: 24px;cursor:pointer;float: right;  " ><i class="fa fa-search" (click)="gotosearch()" aria-hidden="true" style="font-size: 16px;  padding-left: 10px;"></i></span>
    </div>
    </div>
</ion-header>
<ion-content style="background-color: rgb(245, 244, 244);">
    
    <div class="container-fluid" style="    height: 100vh;margin-top: 23px;">
        
        <div class="media" >
            <div class="media-body" style="text-align: -webkit-center;">
                <img class="" src="{{image}}" style="height: 204px;    width:100%;">
            </div>
        </div>
        <div class="row" style="padding: 17px;text-align: center;    margin-top: -9px;"> 
            <div style="width: 100%; margin-top: -9px;"><h2 style="text-align: center;font-size: 18px;font-weight: 800" >{{name}}</h2></div>
            <div style="width: 88%; margin-top: -9px;"><h3 style="text-align: center;font-size: 16px;    padding-left: 30px;">{{protype}}</h3></div>
        </div>
        <div class="row" style="margin-top: -10px">
            <div class="col" style=" font-size:12px; text-align:right; padding-left:0px; padding-right:0px;">{{"COLOR" | translate}} :</div>
            <div class="col" style="font-weight:bold; font-size:12px; text-align:left; padding-left:0px; padding-right:0px;">{{color}}</div>
           <!-- <div class="col" style=" font-size:12px; text-align:right; padding-left:0px; padding-right:0px;">{{"MATERIAL" | translate}} :</div>
            <div class="col" style=" font-weight:bold; font-size:12px; text-align:left; padding-left:0px; padding-right:0px;">{{promaterial}}</div>-->
        </div>
        <div class="card" style="margin-top: -10px;padding: 10px">
                <div class="card-body text-center">
                    <h4 class="myorderh4 font-weight-bold" > <strong>{{"SKU" | translate}} </strong>: {{sku}} </h4>
                    <h4 class="myorderh4 font-weight-bold">{{"DESCRIPTION" | translate}}
                        <span style="font-weight:400;" id="categorydetils"></span>
                    </h4>
                </div>
            </div> 
        
        <br>    
    </div>
    
</ion-content>
<ion-footer style="padding: 0;">
  
    <div style="position: fixed;bottom: -6px;background-color:#ffffff;    z-index: 1;    width: 100%;">
        <div style="width: 100%">
            <div class="col" style=" margin:0px;" style="width: 50%;float: left;padding:0px;">
               <!-- <button type="button" class="btn btn-primary btn-block Update-Cart-btn" style="height:50px;" (click)="gotoaddtocart()">{{"VIEWCART" | translate}}</button>-->
                <button type="button" class="btn btn-primary btn-block Update-Cart-btn" style="height:50px;" (click)="addwishlist()">{{"addwishlist" | translate}}</button>
            </div>
            <div class="col"  style="width: 50%;float: left;padding:0px;">
                 <button type="button" class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="gotomycart()">{{"CHECKOUT" | translate}}</button> 
            </div>
        </div>
    </div>
</ion-footer>