<ion-content >
<br>
<div class="container-fluid">
	<div class="media" style="border-bottom:2px solid #d6dadb;  padding:10px;">
		<img src="assets/images/product-des.png" class="align-self-center mr-3" style="width:60px">
		<div class="media-body">
			<h4 class="trach4">Arriving 20 October</h4>  
		</div>
	</div>
	<button type="button" class="btn btn-primary next btn-block" (click)="orderDetails()">{{"NEXT" | translate}}</button>
	<br><br>

	<div class="container" align="center"> 
		<div class="col-md-12">
			<div class="vl">
				<div class="media height">
					<div class="active">
						<i class="fa fa-check" aria-hidden="true" style="color:white;"></i> 
					</div>
					<div class="media-body">
						<h4 class="timelineh4 activeh4">Order Saturday, 11 October</h4>
					</div>
				</div>

				<div class="media height">
					<div class="rectancle">
					</div>
					<div class="media-body">
						<h4 class="timelineh4">{{"SHIPPED" | translate}}</h4>
					</div>
				</div>

				<div class="media height">
					<div class="rectancle">
					</div>
					<div class="media-body">
						<h4 class="timelineh4">{{"OUTFORDELIVERY" | translate}}</h4>
					</div>
				</div>

				<div class="media">
					<div class="rectancle">
					</div>
					<div class="media-body">
						<h4 class="timelineh4">Arriving 13 October - 20 October</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<br>
			<div class="border">
			</div>
		</div>

		<div class="col-md-12">
			<br>
			<h4 class="tracadd4">{{"SHIPPINGADD" | translate}}</h4>  
			<div class="displayAddressDiv">
				<ul class="displayAddressUL">
				</ul>
			</div>

		</div>
	</div>  
</div>
</ion-content >
