<ion-header>
        <div class="headerbg_wh">
    <div class="container">
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span style="font-size:20px; cursor:pointer;" ><i class="fa fa-arrow-left" (click)="gotoback()" aria-hidden="true" style="padding: 0 10px;font-size: 20px;"></i> &nbsp; {{"MYORDERDETAILS" | translate}}</span>
        <!-- <span style="font-size: 20px;cursor:pointer;float: right;" ><i class="fa fa-search" (click)="gotosearch()" aria-hidden="true" style="font-size: 20px;"></i></span> -->
    </div>
    </div>
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);">
    
    <div class="container-fluid" style=" margin-top: 11px;">
        <div class="card bg-light"> 
            <div class="card-body text-center deliverycss">    
                <h3 class="cancel" [ngClass]="{'is-complete' : orderstatus == 7}" style="font-size: 23px; color:red;">{{"YourOrderHasBeenCanceled" | translate}}</h3>
                <h3 class="deli" [ngClass]="{'deliveredtext' : orderstatus == 5}" style="font-size: 23px; color:#155724;">{{"YourOrderisDelivered" | translate}}</h3>
                <div class="notificationh3" style="font-size: 16px;">
                    <span>{{"ORDERSTATUS" | translate}}</span>
                    <span style="float: right;" *ngIf="is_cancelled == 1 && orderstatus != 7 && orderstatus != 5">
                            <div (click)="gotocancel()"  [ngClass]="{'ordercanceltrack' : cancelcheck == 0 || orderstatus == 7 || orderstatus == 5 || orderstatus == 3}">
                                    <button type="button" class="btn btn-primary btn-block Cancel-btn" style="height: 30px;
                                    width: 80px;
                                    letter-spacing: 0.6px;
                                    background-color: #a50000;
                                    border: 0;
                                    outline: 0;" >{{"cancel" | translate}}</button> 
                                </div>
                    </span>
                </div>  
                <h4 class="myorderh4" style="font-weight: 500;"><b>{{"TRANSACTIONID" | translate}} :  </b> {{tr_id}}</h4>
                <h4 class="myorderh4" style="font-weight: 400;"><b>{{"PLACEORDER" | translate}} </b>{{date}} </h4>
                <h4 class="myorderh4" style="font-weight: 400;"><b style="display: block;margin-bottom: 8px;">{{"SHIPPINGADD" | translate}} :</b> {{address}}</h4> 
                <!-- <div (click)="gotocancel()" class="col" [ngClass]="{'ordercanceltrack' : orderstatus == 7 || orderstatus == 5 || orderstatus == 3}"  style="width: 50%;float: left;padding:0px;">
                        <button type="button" class="btn btn-primary btn-block Cancel-btn" style="height:50px" >{{"cancel" | translate}}</button> 
                    </div> -->
            </div>
        </div>
    </div> 
    <!-- <div style="padding-left: 13px;"><h4 style="font-size:15px;font-weight: 600">{{"TOTALAMOUNT" | translate}} :  SAR &nbsp;&nbsp;&nbsp;{{totalamount}} </h4></div>
    <div style="padding-left: 13px;"><h4 style="font-size:15px;font-weight: 600">tax :  SAR {{tax}}</h4></div> -->
    <div  class="container-fluid"> 
        <!-- style="    padding-left: 32px;"  -->
    <div *ngFor="let ps of products" (click)="details(ps.product_id)" class="row"  style="    margin-bottom: 10px;    margin-top: 8px;    border-radius: 4px;width: 100%;box-sizing: border-box;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 10px 0;">    
        <div class="col-6" style="width: 35%;border-radius: 7px;padding:10px;background-position: center;background-size: cover;">
            <img  style="padding: 10px 0;" src="{{ps.image}}" alt="Photo of sunset">
        </div>
        <div class="col-6" style="width: 63%;padding: 10px 0px;">
            <div class="card product" style="box-shadow:none; border:none;margin: 0;">
                <!-- <h3 class="notificationh3" style="  font-size: 16px;"> {{"COTTONFABRICS" | translate}}  </h3> -->
                 <h3 class="notificationh3" style="margin: 0 0 5px; font-size: 16px;"> {{ps.name}} </h3>
                <!-- <span style="font-size: 14px;"> {{ps.name}} </span> -->
                <span style="display:block;font-size: 13px;"><b>{{"COLOR" | translate}}:</b> <label  [ngStyle]="{'background-color': ps.model}" style="vertical-align: middle; margin-left:8px;margin-bottom:0px;font-size: 12px; font-weight: 400;width:15px;height: 15px;"></label></span>
                <span style="font-size: 14px;"><b>{{"QTY" | translate}}:</b> {{ps.quantity}},</span>
                
                <span style="display:block;font-size: 13px;"><b>{{"PRoductAmount" | translate}}:</b> SAR {{ps.price}}</span>
                <span style="display:block;font-size: 14px;font-weight: 600;"><b>Final Product Amount:</b> SAR {{ps.totlal_price}}</span>
            </div>
        </div>
    </div>         
</div> 
        <div style="width: 100%;display: block;overflow: hidden;padding: 0 15px;" >
            <p style="border-bottom: 1px solid #0000006b;color: #000;font-weight: 600;font-size: 15px;">{{"COSTSTRUCTURE" | translate}} </p>
            <div class="col-xs-6" style="padding: 0px;">
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SUBTOTAL" | translate}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"TAXCART" | translate}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"ShippingCharges" | translate}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"COUPONAMOUNT" | translate}}</h4>
                <h4 style="border-top: 1px solid #000;padding-top: 8px;font-size: 15px;" class="myorderh4 font-weight-bold">{{"PAYABLEAMOUNT" | translate}}</h4>
            </div>
            <div class="col-xs-6" style="padding: 0px;">
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} :  {{subtotal}} </h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{tax}} </h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{shipping_charge}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;"> {{"SAR" | translate}} : - {{coupon_amount}} </h4>
                <h4 style="border-top: 1px solid #000;padding-top: 8px;font-size: 15px;" class="myorderh4 font-weight-bold">{{"SAR" | translate}} : {{totalamount}}</h4>
            </div>
        </div> 
   

<ul class="progress-tracker" [ngClass]="{'ordercanceltrack' : orderstatus == 7}" style="padding: 35px">
    <li class="progress-step is-complete">
        <span class="progress-marker"><p style="margin-top: 88px; color: black;font-weight: 800;"> {{"ORDERPROCESSING" | translate}}</p></span>
    </li>
  
    <li class="progress-step" [ngClass]="{'is-complete' : orderstatus == 5 || orderstatus == 3 }">
      <span class="progress-marker"><p style="margin-top: 88px; color: black;font-weight: 800;"> {{"SHIPPED" | translate}}</p></span>
    </li>
    <li class="progress-step" [ngClass]="{'is-complete' : orderstatus == 5}">
        <span class="progress-marker"><p style="margin-top: 88px; color: black;font-weight: 800;">{{"DELIVERED" | translate}}</p></span>
    </li>
</ul>
    
	
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
            <div (click)="gotohome()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}} 
                </a>
            </div> 
            <div (click)="gotosearch()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div  (click)="gotocat()"  style="text-align:center; width:20%; float:left;">
                <a class="iconname" style="color:black;font-size: 12px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}} </a>
            </div>
            <div (click)="gotobag()" style="text-align:center; width:20%; float:left;">
                <a  class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div  (click)="gotoaccount()"  style="text-align:center; width:20%; float:left;">
                <a  class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
        
    </ion-toolbar>
</ion-footer> -->
<ion-footer>
        <div style="display:flex;">
           <div (click)="gotohome()" style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocat()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>
