page-dashboard {
.toolbar-ios ion-title {
    left: -27%;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
.Caddon {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-top: 1px solid #b8b8b8 !important;
    border-bottom: 1px solid #b8b8b8 !important;
    border-left: 1px solid #b8b8b8 !important;
    background-color: #fafafa !important;
    height: 42px;
}
.toolbar-title-ios {
   
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
    pointer-events: auto;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #1a1a1b;
    background-color: transparent;
}
.toolbar-background-ios {
    background: #ffffff !important;
}

.searchimg{
    position: absolute;
    z-index: 9999;
    margin-top: -8px;

}
.catvalue{
        background-color: red;
    color: white;
    border-radius: 21px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 700;
    font-size: 11px;
    position: absolute;
    right: 10%;
    top: 51%;
}
}
