
<ion-header>
    <div class="headerbg_bl">
            <div class="container" style="background-color: black !important;">
                <div style="    display: flex;
                justify-content: center;
                align-items: center;">
                    <div style="flex: 1;order: 0;" menuToggle> 
                        <!-- width: 20%;float: left; -->
                        <a  style="background-color: #000000 !important;" ><img name="menu" class="LefFix" src="assets/images/menu.png"> </a>
                    </div>
                    <!-- width: 40%;float: left; -->
                    <div style="flex: 2;text-align: center;position: relative">
                        <img src="assets/images/logo1.png" class="MiddleFix">   
                    </div>
                    <!-- width: 30%;float: right; -->
                    <div  (click)="gotobag()" style="flex: 1;position: relative;">
                        <img src="assets/images/carrt.png" class="RightFix"><span class="catvalue">{{cartvalue}}</span>
                    </div>
                </div>
            </div>
    </div>
</ion-header>

<ion-content padding >
    <div id="mySidenav" class="sidenav" style="background-color: white;    z-index: 999999;top:  -2.1%;position: absolute;left: 45%;  height: 55vh; border-bottom-left-radius: 18px; border-top-left-radius: 15px;">
        <a  (click)="closeNav()" style="    font-size: 23px;float: left;cursor: pointer; padding-top: 12px;color: white !important;padding-left: 3px;padding-right: 16px;font-weight: 700; ">&times;</a>
        <h4 class="sidenavh4" >{{"MOSTRECOMMENDED" | translate}}</h4>
        <div *ngFor="let scl of catlist" ><a  (click)="chooseNav(scl.category_id,scl.name)"  class="cet" > {{scl.name}}</a>
            <hr></div>
    </div>
    <div class="main">
        <div class="ContentBody">
            
            <ion-row (click)="gotosearch()">
                <ion-col>
                    <div class="form-group" style="width:100%">
                        <div class="input-group">
                            <span class="input-group-addon Caddon"><img class="searchimg" src="assets/images/search.png"></span>
                            <input id="text" type="text" class="form-control Ccontrol" name="text"
                                placeholder="{{'SEARCHYOURPRODUCT' | translate}}" style="height: 42px;" required>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                
                <ion-slides slider="slider" *ngIf="bannerlist && bannerlist.length" autoplay="2000" class="slideroption" pager="true" loop="true"
                    speed="300">
                    <ion-slide *ngFor="let slides of bannerlist">
                        <img src="{{slides.image}}" />
                    </ion-slide>
                </ion-slides>
            </ion-row>
            <br>
            <div class="">
                <div class="row" *ngFor="let pt of productlist">
                    <div class="col-xs-12">
                        <div style="margin-bottom: 10px;"> 
                            <div style="display:inline-block;text-align:left"><b>{{pt.catname}} </b></div>
                            <div style="display:inline-block;float:right;color: #337ab7;" (click)="gocatgorydetails(pt.catid,pt.catname)">{{"VIEWALL" | translate}}</div>
                        </div>
                    </div>
                    <div class="col-xs-6" style="padding: 0 5px;" *ngFor="let prot of pt.product" (click)="goproductetails(prot.pt.product_id)">
                        <div class="card" style="padding:5px;background-color:white">
                            <img src="{{prot.pt.image}}" class="card-img-top image">
                            <p class="text-center" style="margin: 5px 0;line-height: 20px;"><strong >{{prot.pt.name |  slice:0:30}}</strong></p>
                           <div style="text-align: center;" *ngIf="prot.pt.is_discount == 1">
                            <span class="text-center" style="    color: #000;
                            margin: 0;
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 500;">SAR {{prot.pt.discount_price}}</span>
                            <span class="text-center" style="font-size: 13px;text-decoration: line-through;
                            color: grey;
                            margin: 0 0 0 10px;
                            line-height: 20px;">SAR {{prot.pt.price}}</span>            
                           </div>
                            <div *ngIf="prot.pt.is_discount == 0">
                            <p class="text-center" style="color: grey;margin: 0; line-height: 20px;">SAR {{prot.pt.price}}</p>
                           </div>
            <div class="color_boxes" style="margin: 5px 0 10px;">
<div class="color-box"  [ngStyle]="{'background-color':clorr.color,'border':none}" *ngFor="let clorr of prot.pt.mycolorImg" ></div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
</ion-content>

<ion-footer>
         <div style="display:flex;">
            <div style='flex:1;text-align:center'>
                <a class="iconname"  style="color:black;font-size: 10px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}} 
                </a>
            </div> 
            <div (click)="gotosearch()"  style='flex:1;text-align:center'>
                <a class="iconname" style="color:black;font-size: 10px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div (click)="gotocat()"  style='flex:1;text-align:center'>
                <a class="iconname" style="color:black;font-size: 10px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}} </a>
            </div>
            <div (click)="gotobag()"  style='flex:1;text-align:center'>
                <a class="iconname" style="color:black;font-size: 10px;"> 
                    <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
                <a   class="iconname" style="color:black;font-size: 10px;"> 
                    <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
         </div>
</ion-footer>

