page-verification{
    .otpText {
    text-align: center;
    color: #666;
    font-family: robotoL !important;
    margin: 0;
    padding-top: 22%;
    font-size: 25px;
    line-height: 35px;
}



.OptUL
{
display: inline-block;
    width: 100%;
    margin: 20px 0px;	
}

.OptULli
{

    float: left;
    width: 21%;
    margin: 0px 2%;
    text-align: center;	
    border: none;
    border-bottom: 1px solid;
}




    
}