<ion-header >
        <div class="headerbg_wh">
    <div class="container" style="width: 100%;">
        <button style="width: 20%;float: left;background-color: transparent;" icon-only >
            <i (click)="gotoback()" class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <ion-title style="width: 80%;float: left;    margin-top: -4px;">{{"VERIFICATION" | translate}}</ion-title>
    </div>
    </div>
</ion-header>
<ion-content style="background-color: rgb(245, 244, 244);">
    <div class="container-fluid  " >
        <h4 style="color:black; font-size:20px; font-weight:600; padding-bottom:0px; margin-bottom:15px; margin-top:10px; text-align:center;">
                    {{"ENTERRECEIVEDOTP" | translate}}</h4>
        <!--<div style="text-align: -webkit-center;" ><img class="card-img-top image" src="assets/imgs/icon-images/Untitled.png" style="    width: 25%;"></div>
        <h4 style="color:black; font-size:20px; font-weight:600; padding-bottom:0px; margin-bottom:15px; margin-top:10px; text-align:center;">
                    Order #59165 </h4>
         <h3 style="color: #1b1a1a;; font-size:13px; text-align:center;">Thank You Ambuj</h3>
        <h3 style="color: #1b1a1a; font-size:13px; text-align:center;">Please enter recevied otp </h3>-->
        <div class="form-group form-inline" align="center" style="width: 100%;    margin-top: 125px;">
            <div><input type="number"  class="OptULli" id="otp1" maxlength="1" [(ngModel)]="otpone" (keyup)="moveto(1)"/></div>
             <div><input type="number" class="OptULli"  id="otp2" maxlength="1" [(ngModel)]="otptwo" (keyup)="moveto(2)"/></div>
             <div><input type="number" class="OptULli"  id="otp3" maxlength="1" [(ngModel)]="otpthree" (keyup)="moveto(3)"/></div>
             <div><input type="number" class="OptULli"  id="otp4"  maxlength="1" [(ngModel)]="otpfour" (keyup)="moveto(4)"/></div>
        </div>
        <br><br>
        <div class="row" style="width: 100%;padding-left: 32px;">
            <div  (click)="gomyorder()" class="col-md-12 col-lg-12" style="float: left;width: 50%">
                <button class="btn btn-primary  btn-block register"  style="    background-color: #171615 !important;    border-radius: 21px;">{{"SUBMIT" | translate}}</button>
            </div>
            <div (click)="gomyorder()" class="col-md-12 col-lg-12" style="float: left;width: 50%">
                <button class="btn btn-primary  btn-block register"  style="border-radius: 21px;">{{"CANCELORDER" | translate}}</button>
            </div>
        </div>
    </div>
</ion-content >
