@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

a.cet{
	
	font-size:12px;
	padding: 4px 4px 2px 1px;
	line-height: 14px;
	font-family: 'PT Sans', sans-serif;
	}


body{
 font-family: 'PT Sans', sans-serif !important;
 transition: background-color .5s;
 padding: 0px;
 margin: 0px;
}
.loginpage .item-cover{
  position: inherit;
  width: auto;
  height: auto;
}
.headerh4
{
    color:black; 
    font-size:16px;
    padding-bottom:5px;
    margin-bottom: 10px;
    margin-top: 20px;
    height:30px;
   
}

.shadowfooter{
     width:100%; 
     position:fixed; 
     bottom:0px; background-color:white;
     z-index:9999; 
     background-color:white; 
     margin-top:70px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    -moz-box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    padding-top:5px;
}

.center {

   position: fixed;
   top: 0%; 
   left:0;
  width:100%;
  
}

.my-carth4{
font-size:18px; 
margin-top:10px;
    
}

.profileh4{
	
	font-size:20px;
	font-weight:bold;
	margin-top:35px;
	color:white;
	}

@media (max-width: 370px)
{
    
   
  .my-carth4
   {
      font-size:10px;
   }
   
   a.iconname{
	   font-size:10px;
	   line-height:20px;
	   }
	   
  a.iconname img
              {
	  				height:20px;
					width:20px;
	            }
	  
  .tab button
   {
      font-size:10px;
   }
   
   .notificationh3 {
    text-align: left !important;
    font-size: 10px;
    font-weight: bold !important;
}


.product span{
    text-align: left !important;
    font-size: 12px !important;
    font-weight: bold !important;
}



a.cet{
	
	font-size:12px;
	padding: 4px 4px 2px 1px;
	    line-height: 14px;
	}
	


}
hr { 
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	border-color:#000 !important;
	margin-top:5px !important;
}

.loginpage input[type=text], select {
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


.loginpage input[type=number], select {
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


.signup-form input[type=password], select {
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}

.signup-form input[type=password], select {
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


input[type=password], select.collor{
  border: 1px solid #999;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
  border-radius:28px;
}

.signup-form input[type=text]:focus, select:focus {
  outline: none;
}
.loginpage input[type=text]:focus, select:focus {
  outline: none;
}
.signup-form input[type=password]:focus, select:focus {
  outline: none;
}

.register
 {
	
		background-color:#ae9435 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
		margin-bottom:10px;
			
	}
	
.register:hover
 {
	
		background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
			
	}

	
.skip
 {
	
		background-color:white !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 8px 50px;
		color:black !important;
		margin:3px;
			
	}


.Update-Cart-btn{
	background-color:black !important;
	border-color:black !important;
	border-radius:0px !important;
	font-weight:bold;
	
	}

.CheckOut-btn{
	border-color:#ae9435 !important;
	background-color:#ae9435 !important;
	border-radius:0px !important;
	font-weight:bold !important;
	}
	
	.CheckOut-btn:hover{
	background-color:#300 !important;
	background-color:#300 !important;
	border-radius:0px !important;
	font-weight:bold !important;
	}
	
.Add-Cart-btn{
	    background-color:#ae9435 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 10px;
		font-size:13px;
		
	}
.Add-Cart-btn:hover{
    background-color: #300 !important;
    border-color: #ae9435 !important;
    border-radius: 28px;
    padding: 2px 5px;
  	font-size:13px;
}
	.update{
		
	    background-color:black !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 2px 5px;
		color:white !important;
			font-size:13px;
		
	}
	
	
	.updatebtn{
		
	    background-color:black !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 10px;
		color:white !important;
		font-size:13px;
		
	}
.updatebtn:hover{
    background-color: #300 !important;
    border-color: black !important;
    border-radius: 28px;
    padding: 2px 5px;
    color: white !important;
   	font-size:13px;
}	
.update:hover{
	    background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
	
	}
	
.skip:hover
 {
	
		background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
	    color:white !important;
	}

.product{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 margin-bottom:10px;
	}
	


	.product .card-body{
		padding:12px !important;
	}
	
	.product .card-body p{
		padding-bottom: 2px !important;
		margin-bottom:0px !important;
		font-size:12px;
	}
	
	.product .card-body .length{
		padding-bottom: 2px !important;
		margin-bottom:0px !important;
		font-size:13px;
		font-weight:600;
		margin-bottom:5px !important;
	
	}
	
	.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.product:hover .image {
  opacity: 0.3;
}

.product:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  
  padding: 16px 32px;
}


/*------searchbox css--------*/
		
		#search 
		  {
			float: right;
			margin-top:9px;
			width: 250px;	
       	}
	
.search {
		   padding: 5px 0;
		   width:100%;
		   height:30px;
		
		   left: 10px;
		   float:left;
		   line-height: 22px;
   }
.search input 
    { 
         position:absolute;
        width:0px;   
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        background: white;
	    height:30px;
		  line-height: 18px;
	     padding:0 2px 0 2px;
	    font-size: 15px;color: #fff; 
		outline: none; -webkit-appearance: none; 
		border-radius: 10;
	    border-width:0;
		
	 }
	 
.search:hover input ,  .search input:focus
     {
	   width: 90%;
	   margin-left: 0px;
	   background-color:transparent;
	   color:black;
	   font-size:12px;
       border-bottom:2px solid #F90;
	    }
       
.srch_btn{ 
	
		 height:30px;
		 width:30px; 
		 background:white url(images/mag_glass.png) no-repeat center center;
		 position: absolute;
		 right:0;
		 top:5px; 
		 cursor: url(images/cursor2.png) 5 5, auto;
		}
/*----------------tab------------*/


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom:2px solid #999;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 3px;
  
    border-top: none;
}

input:-moz-read-only { /* For Firefox */
    color:#666;
	font-size:14px;
}

input:read-only {
    color:#666;
	font-size:14px;
}

.notificationp{
	text-align:left !important;
	font-size:14px;
	}
.notificationh3 {
    text-align: left !important;
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold !important;
}
.bg-light{
	margin-bottom:10px;
	}
	
.myorderh4{
	text-align:left;
	font-size:14px;
	font-weight:600;
	}
	
input[type="text"].otpinput 
	
	{
	
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
	border-bottom: 2px solid darkgrey;
	background-color: inherit;
	display: block;
	width: 100%;
	text-align:center;
	font-weight:bold;
	margin: none;
	
	}
	
.productdescriptionh2
  {
	font-size:18px; 
	text-align:center;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	}


.productdescriptionh3
  {	
    font-size:16px; 
	text-align:center;
	font-weight:400;

	margin-bottom:10px;
	
  }
  
  
.sidenav {
    display: none;
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    -webkit-box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);

}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #313030;
	font-weight:normal;
    display: block;
	font-family: 'PT Sans', sans-serif;
	margin-left:5px;
}

a.cet{
	
	font-size:14px;
	padding: 4px 4px 2px 1px;
	line-height: 18px;
	font-weight:bold;
	margin-bottom: 10px;
    
}
.sidenavh4
   {
	  font-size:13px;
	  font-weight:bold;
	  background-color:white; 
	  padding:10px;
	  background-color:#ae9435;
	  color:white;
	  
	}	


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 36px;
    margin-left: 50px;
	color:white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
  
  
  
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

	/* Style the tab */
.tab {
  
}

/* Style the buttons inside the tab */
.tab1 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab1 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent1 {

    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.next{
	background-color:#b8914c !important;
	border-color:#b8914c !important;
	}


.progress-bar-vertical {
  width: 10px;
  min-height: 100px;

  margin-right: 10px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  background-color:#030;
}
.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;}
	
	
	.tracking .ship-scale {
    width: 90%;
    margin: 40px 0 50px;
    height: 30px;
    position: relative;
}



/*css added for changes as per new psd Feb-7-2019*/
.Customheader
{
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main
{
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
}
.Customheader1
{
	padding: 0px;
	margin: 0px;
	background-color: #000;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.BlackBG
{
	background-color: #000000;
}
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}
img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}
/* .CustomTop
{
	margin: 0px;
	padding: 0px;
	background-color: #000;
	display: block;
	margin: 0 auto;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.CustomTop1
{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
} */
.LefFix
{
    height: 20px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.MiddleFix
{
	/* width: auto; */
    height: 45px;
    /* margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 12px; */
    position: relative;
    left: 0;
    right: 0;
    top: 9px;
}
.RightFix
{
    height: 34px;
    width: auto;
    /* display: block; */
    float: right;
    /* margin-top: 8px;
    margin-right: 5px;	 */
}
.ContentBody
{
	padding: 0px;
	margin: 0px;
}
.RightFix1 {
    height: 26px;
    width: auto;
    display: block;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}
.Ccontrol {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-top: 1px solid #b8b8b8 !important;
    border-bottom: 1px solid #b8b8b8 !important;
    border-right: 1px solid #b8b8b8 !important;
    background-color: #fafafa !important;
    height: 42px;
}
.Caddon {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-top: 1px solid #b8b8b8 !important;
    border-bottom: 1px solid #b8b8b8 !important;
    border-left: 1px solid #b8b8b8 !important;
    background-color: #fafafa !important;
    height: 42px;
}
.SlideImage{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	text-align: center;
}
/*owl carousel dots*/
.owl-dots
{
    display: block;
    text-align: center;
    margin-top: 5px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #8f8f8f !important;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: #9a9a9a;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 3px;
}
.owl-dots .active
{
background: #000 !important;	
}
.btbr
{
padding-bottom: 10px;
    border-bottom: 1px solid #acacac;
}
.pad5
{
	padding-right: 5px;
    padding-left: 5px;
}
.CustomBorder
{
	display: block;
    margin-bottom: 10px !important;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color: #c5c5c5 !important;
    margin-top: 5px !important;
    width: 100%;	
}
.cTitle
{
	font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    color: #000000;
}
.product1 {
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.cTitle1
{
	font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
    color: #000000;	
}
.rightFix2
{
height: 22px;
    float: right;
    margin-right: 14px;
    margin-top: 10px;
}
.rightFix3
{
	    float: right;
    margin-right: 20px;
    margin-top: 12px;
}
a:hover
{
	text-decoration: none !important;
}
.CustomTop2 {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    padding: 0px 10px;
}
.btnCart
{
	background-color: #ae9435;
	border: 1px solid #ae9435;
	border-radius: 20px;
	padding: 1px 25px !important;
	box-shadow: none !important;
	color: #ffffff;
}
.btnCart:hover,.btnCart:focus
{
	background-color: #ae9435;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	color: #ffffff;
}
.CustomBody
{
	padding: 10px;
}
.bt3
{
	margin-bottom: 3px !important; 
}
.CustomBorder1
{
	display: block;
    margin-bottom: 5px !important;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color: #c5c5c5 !important;
    margin-top: 5px !important;
    width: 100%;		
}
.productname1
{
	font-size: 14px;
	font-weight: 600 !important;
	display: block;
	text-align: center !important;
	letter-spacing: 0.5px;
}
