<ion-header>
        <div class="headerbg_wh">
    <div class="container" >
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span style="font-size:20px; cursor:pointer;" ><i class="fa fa-arrow-left" (click)="gotoback()" aria-hidden="true" style="font-size: 20px;"></i> &nbsp; {{"MYORDERCONFIRMED" | translate}}</span>
        <span style="font-size: 20px;cursor:pointer;float: right;" ><i class="fa fa-search" (click)="gotosearch()" aria-hidden="true" style="font-size: 20px;"></i></span>
    </div>
    </div>
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);">
    <div class="container-fluid">
        <div class="container">
            <div class="row" >
                <h4 style="color:black; font-size:16px; font-weight:bold; padding-bottom:0px; margin-bottom:0px; margin-top:10px;">
                    <!--<i class="fa fa-arrow-left" aria-hidden="true" style="margin-right:30px;"></i>-->
                </h4>
            </div>
        </div>

        <div align="center">
            <img src="assets/imgs/icon-images/Untitled.png" style="    width: 23%;">
        </div>
        <h4 style="color:black; font-size:16px; font-weight:600; padding-bottom:0px; margin-bottom:10px; margin-top:10px; text-align:center;">
            {{"ORDER" | translate}} {{orderid}} </h4>

        <h3 style="color:#666; font-size:14px; text-align:center;">	{{"THANKYOU" | translate}} {{username}} </h3>
        <h3 style="color:#666; font-size:14px; text-align:center;">	{{"RECEIVEDOTP" | translate}} </h3>
        <div class="form-group form-inline" align="center" style="width: 100%">
             <!-- <div><input (paste)="false" (focus)="s1()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number"  class="OptULli" id="otp1" maxlength="1" [(ngModel)]="otpone" (keyup)="moveto(1)"/></div>
             <div><input (paste)="false" (focus)="s2()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp2" maxlength="1" [(ngModel)]="otptwo" (keyup)="moveto(2)"/></div>
             <div><input (paste)="false" (focus)="s3()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp3" maxlength="1" [(ngModel)]="otpthree" (keyup)="moveto(3)"/></div>
             <div><input (paste)="false" (focus)="s4()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true"  type="number" class="OptULli"  id="otp4"  maxlength="1" [(ngModel)]="otpfour" (keyup)="moveto(4)"/></div> -->
               <div><input  (focus)="s1()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number"  class="OptULli" id="otp1" maxlength="1" [(ngModel)]="otpone" (keyup)="moveto(1)"/></div>
             <div><input  (focus)="s2()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp2" maxlength="1" [(ngModel)]="otptwo" (keyup)="moveto(2)"/></div>
             <div><input  (focus)="s3()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" type="number" class="OptULli"  id="otp3" maxlength="1" [(ngModel)]="otpthree" (keyup)="moveto(3)"/></div>
             <div><input  (focus)="s4()"  [attr.maxlength]="1" pattern="[0-9]*" decimal="true" allow-multiple-decimals="true"  type="number" class="OptULli"  id="otp4"  maxlength="1" [(ngModel)]="otpfour" (keyup)="moveto(4)"/></div>
        </div>
        <br>

        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <button class="btn btn-primary  btn-block updatebtn" (click)="continueShopping()" >{{"SUBMIT" | translate}}</button>
            </div>  
            <div class="col">
                <button class="btn btn-primary  btn-block Add-Cart-btn" (click)="otpss()" >{{"Resendotp" | translate}}</button>
                <!-- {{"CANCELORDER" | translate}} -->
            </div>
        </div> 
        <br>
        <h3 style="color:#666; font-size:14px; text-align:center;">	{{"CONFIRMEDORDER" | translate}} !! </h3>
        
    </div>	
</ion-content >

