<ion-tabs id="tabs">
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="search"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Category" tabIcon="list-box"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Bag" tabIcon="ios-basket"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="MyAccount" tabIcon="md-contact"></ion-tab>
</ion-tabs>
