
<ion-header>
        <div class="headerbg_wh">
    <div class="container">
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span (click)="gotoback()" style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left"  aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"CATEGORY" | translate}}</small> </span>
        <span (click)="gotosearch()" style="font-size:20px; cursor:pointer;float: right;"  ><i class="fa fa-search"  aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i></span>
    </div>
    </div>
</ion-header>

<ion-content padding style="background-color: rgb(245, 244, 244);" >
    <div id="mySidenav" class="sidenav" style="background-color: white;top: 0.9%;position: absolute;left: 45%;  height: 55vh; border-bottom-left-radius: 18px; border-top-left-radius: 15px;">
        <a  (click)="closeNav()" style="    font-size: 23px;float: left;cursor: pointer; padding-top: 12px;color: white !important;padding-left: 3px;padding-right: 16px;font-weight: 700; ">&times;</a>
        <h4 class="sidenavh4" >{{"MOSTRECOMMENDED" | translate}}</h4>
        <div *ngFor="let scl of catlist" ><a  (click)="chooseNav(scl.category_id,scl.name)"  class="cet" > {{scl.name}}</a>
            <hr></div>
        
    </div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="container" style="padding: 0px;">
            <div class="row" style="width: 100%;margin-right: 0px;margin-left: 0px; ">           
                <div *ngFor="let cl of catlist" (click)="gocatgorydetails(cl.category_id,cl.name)" class="col-xs-6 col-sm-6" style="flex-basis: 49%;-webkit-flex-basis: 49%;padding: 4px;margin-bottom:15px;border: 0.4px solid #e4dbdb">
                    <div class="card" >
                        <a >  <img class="card-img-top image" style="height: 25vh;" src="{{cl.image}}" alt="Photo of sunset"></a>
                        <div class="middle">
                        </div> 
                        <div class="card-body" style="display: flex;
                        justify-content: center;
                        min-height: 10vh;
                        align-items: center;">
                            <p class="text-center font-weight-bold" style="padding:5px;line-height:21px;font-size: 15px;font-weight: 600;margin:0;">{{cl.name | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</ion-content>

<ion-footer>
        <div style="display:flex;">
           <div (click)="gotohome()" style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div   style='flex:1;text-align:center'>
            <!-- (click)="gotocatpage()" -->
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>