page-home {
.toolbar-ios ion-title {
    left: -27%;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
.toolbar-title-ios {
   
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
    pointer-events: auto;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #1a1a1b;
    background-color: transparent;
}
.toolbar-background-ios {
    background: #ffffff !important;
}
}
