page-categoryDetails{
    
    .toolbar-ios ion-title {
    left: -15%;
    top: 0;
    padding: 0 90px 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}
.toolbar-title-ios {
   
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
    pointer-events: auto;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #1a1a1b;
    background-color: transparent;
}
.ordernow {
    background-color: #ad8a2e  !important;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #fadf12;
    display: inline-block;
    cursor: pointer;
    color: #eae8e5 !important;
    font-size: 12px;
    padding: 3px 12px;
    text-decoration: none;
    font-weight: 600;
    z-index: 999999;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 25px;
}
.colorBox{
    width:18px;
    height:18px;
    border-radius:1px;
    margin:5px;
}
.active{
    border:2px solid #b6b6b6;
 }

}

