<ion-header >
        <div class="headerbg_wh">
    <div class="container">
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span (click)="gotoback()" style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left"  aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small class="cttitle" style="font-weight: 500;font-size: 20px;">{{catname}}</small> </span>
        <span (click)="gotosearch()" style="font-size:20px;cursor:pointer;float: right;" ><i class="fa fa-search"  aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i></span>
    </div> 
    </div>
</ion-header>

<ion-content padding style="background-color: rgb(245, 244, 244);">

    <div class="container-fluid" style="padding:0px 3px; display: -webkit-flex;display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap; ">
        
            <div class="col-xs-6 col-sm-6 col-md-6" *ngFor="let cdl of catdetailslist" style="flex-basis: 49%;-webkit-flex-basis:49%; width:49%;padding:0px 3px;margin-bottom: 15px; ">
               
                <div id="{{cdl.product_id}}"  class="card" style="padding:5px;background-color:white">
                    <a> <img class="card-img-top image" (click)="gocatgorydetails(cdl.product_id)" src="{{cdl.image}}" style="height: 22vh;" alt="Photo of sunset"></a>
                    <p class="text-center"><strong >{{cdl.name | slice: 0:15 | translate}}</strong></p>
                    <div class="color_boxes custom_center">
                    <div class="colorBox ion-text-center" [ngClass]="{'active': checkColor == clr.color && checkedId == cdl.product_id}" *ngFor="let clr of cdl.colorImages" [ngStyle]="{'background-color': clr.color}" (click)="onColorSelect(clr.color,cdl.product_id)">
                    </div>
                    </div>
                    <hr style="border-color: #c3bfbf !important;">
                    <p class="text-center font-weight-bold productname" style="margin-top: -14px;">{{cdl.model | slice: 0:15}}</p>
                    <div col class="ion-text-center" (click)="gocatgorydetails(cdl.product_id)">
                        <a class="btn ordernow"> {{"ADDTOCRT" | translate}}</a>
                    </div>
                </div>
           
            </div>
        
     </div>
</ion-content>

<ion-footer>
        <div style="display:flex;background-color: #f0f0f0;padding-top:8px;padding-bottom:8px;">
           <div (click)="gotohome()"  style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocat()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>
