
<ion-header >
        <div class="headerbg_wh">
    <div class="container">
        <span style="margin-right: 20px; font-size:20px; cursor:pointer;" ><i class="fa fa-arrow-left" (click)="gotoback()" aria-hidden="true" style="font-size: 20px;"></i> &nbsp; {{"MYWISHLIST" | translate}}</span>
        <span style="font-size:20px;cursor:pointer;float: right;" ><i class="fa fa-search" (click)="gotosearch()" aria-hidden="true" style="font-size: 20px;"></i></span>
    </div> 
    </div> 
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);">
    <br>
    <br>
    <div class="container-fluid">
        <div *ngFor="let wl of wishlist"  class="container-fluid">
            <div class="row">    
                <div class="col-6" style="width: 35%;    ">
                     <img class="" src="{{wl.image}}" style="height: 20vh;border-radius: 7px;">			
                </div>
                <div class="col-6" style="width: 64%;    padding-left: 10px;">
                    <div class="card product" style="box-shadow:none; border:none;">
                        <h3 class="notificationh3" style="font-size: 15px;"> {{wl.name}}</h3>
                        <span style="font-size: 16px;"></span>
                        <span style="font-size: 16px;">
                            <div *ngIf="wl.is_discount == 1">
                                <span class="text-center" style="    color: #000;
                                margin: 0;
                                line-height: 20px;
                                font-size: 15px !important;
                                font-weight: 500;">SAR {{wl.discount_price}}</span>
                                <span class="text-center" style="    font-size: 13px;
                                text-decoration: line-through;
                                color: grey;
                                font-size: 14px !important;
                                margin: 0 0 0 6px;
                                line-height: 20px;">SAR {{wl.price}}</span>            
                               </div>
                                <div *ngIf="wl.is_discount == 0">
                                <p class="text-center" style="color: grey;margin: 0; line-height: 20px;">SAR {{prot.pt.price}}</p>
                               </div>
                            <!-- {{"SAR" | translate}}.{{wl.price}} -->
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button (click)="gotoMoveToCart()" class="btn btn-primary  btn-block Add-Cart-btn cust_cart_btn" style="font-size:12px;    border-radius: 22px;width: 100%;">{{"MOVETOCART" | translate}}</button>
                        </div>
                    </div> 
                </div>
                <div style="width: 100%; margin: 15px auto; text-align: center;">
                    <div class="wshbtn" style="    position: relative;
                    width: 45%;
                    margin: 0 5px;
                    display: inline-block;">
                        <button class="btn btn-primary  btn-block updatebtn" (click)="gotoback()" style="border-radius: 22px;">{{"ADDNEWPRODUCT" | translate}}</button>
                    </div>  
                    <div class="wshbtn" style="    position: relative;
                    width: 45%;
                    margin: 0 5px;
                    display: inline-block;">
                        <button class="btn btn-primary  btn-block Add-Cart-btn" (click)="deletewishlist(wl.product_id)" style="border-radius: 22px;">{{"DELETE" | translate}}</button>
                    </div>
                </div>
            </div>
            <hr>
           
        
         
        </div> 
         <div *ngIf="wishlist==0" style="    text-align: center; margin-top: 83px; font-size: 20px; color: #848484;">{{"NOITEMINWISHLIST" | translate}}</div>
       
    </div>
</ion-content>
<!-- <ion-footer>
        <div style="display:flex;">
           <div style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocatpage()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer> -->
<ion-footer>
    <div style="display:flex;">
       <div (click)="gotohome()"  style='flex:1;text-align:center'>
           <a class="iconname"  style="color:black;font-size: 10px;"> 
               <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/home.png">
               <br>
               {{"HOME" | translate}} 
           </a>
       </div> 
       <div (click)="gotosearch()"  style='flex:1;text-align:center'>
           <a class="iconname" style="color:black;font-size: 10px;"> 
               <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
               <br>
               {{"SEARCH" | translate}}</a>
       </div>
       <div (click)="gotocat()"  style='flex:1;text-align:center'>
           <a class="iconname" style="color:black;font-size: 10px;">  
               <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
               <br>
               {{"CATEGORY" | translate}} </a>
       </div>
       <div (click)="gotobag()"  style='flex:1;text-align:center'>
           <a class="iconname" style="color:black;font-size: 10px;"> 
               <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
               <br>
               {{"BAG" | translate}}
           </a>
       </div>
       <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
           <a   class="iconname" style="color:black;font-size: 10px;"> 
               <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
               <br>
               {{"MYACCOUNT" | translate}} </a>
       </div>
    </div>
</ion-footer>
