<ion-content >
<div class="container-fluid">
<div class="container">
<div class="row" >
<h4 style="color:black; font-size:16px; font-weight:bold; padding-bottom:0px; margin-bottom:0px; margin-top:10px;">
<i class="fa fa-arrow-left" (click)="goBack()" aria-hidden="true" style="margin-right:30px;"></i>
{{"NOTIFICATION" | translate}}</h4>
</div>
</div>
<hr style="color:black;">


<div class="card bg-light">
    <div class="card-body text-center">
    
    <h3 class="notificationh3">Join Laistraila Apps to get more offer</h3>
    <p class="card-text notificationp">
    Today at 11:25 pa
    </p>
      <p class="card-text notificationp">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum turpis id luctus vulputate. Donec vehicula fringilla fermentum. Ut tempor, ipsum eu semper vehicula, ex libero viverra est, in congue erat est sed dui. Proin libero lorem, pretium molestie nibh at, congue fringilla lectus. Aliquam lacinia nisl sollicitudin,
      
      </p>
    </div>
  </div>
  
  
  <div class="card bg-light">
    <div class="card-body text-center">
    
    <h3 class="notificationh3">Join Laistraila Apps to get more offer</h3>
    <p class="card-text notificationp">
    Today at 11:25 pa
    </p>
      <p class="card-text notificationp">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum turpis id luctus vulputate. Donec vehicula fringilla fermentum. Ut tempor, ipsum eu semper vehicula, ex libero viverra est, in congue erat est sed dui. Proin libero lorem, pretium molestie nibh at, congue fringilla lectus. Aliquam lacinia nisl sollicitudin,
      
      </p>
    </div>
  </div>


</div>
</ion-content >
<ion-footer>
    <ion-toolbar style="padding-top: 42px;    width: 103%;">
        <div class="row shadowfooter" >
            <div style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotohome()" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}}  
                </a>
            </div> 
            <div style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotosearch()" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div  style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotocat()" style="color:black;font-size: 12px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}} </a>
            </div>
            <div style="text-align:center; width:20%; float:left;">
                <a (click)="gotobag()" class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div  style="text-align:center; width:20%; float:left;">
                <a  (click)="gotoaccount()"  class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
        </div>
    
    </ion-toolbar>
</ion-footer>
