page-payment{
    .loginpage input[type=text], select {
    border: none !important;
    border-bottom: 1px solid #5f5b5b !important;
    background-color: inherit;
    display: block;
    width: 100%;
    margin: none;
}
    .form-group {
    margin-bottom: 26px;
}
.spanclassthree{
        background-color: transparent;
    border: none;
    border-bottom: 1px solid #635f5f;
    border-radius: 0;
}
.inputclassthree{
          border: none ;
    box-shadow: none;
    border-bottom: 2px solid #635f5f;
    border-radius: 0;
}
page-payment .loginpage input[type=text], page-payment select {
    border: none !important;
    border-bottom: 1px solid #eadddd !important;
    background-color: inherit;
    display: block;
    width: 100%;
    margin: none;
}
.loginpage input[type=number], select {
    border: none;
    border-bottom: 1px solid #5f5b5b;
    background-color: inherit;
    display: block;
    width: 100%;
    margin: none;
}
.tab button:hover {
    background-color: #fff !important;
}
.loginpage .form-group{
    padding: 0 !important;
    margin: 20px 0 0 !important;
    display: block;
    overflow: hidden;
    width: 100%;
    
}
// .loginpage .select-ios{
//     padding: 0 15px !important;
// }
.loginpage ion-select{
    border-bottom: 1px solid #5f5b5b !important;
}
// page-payment .loginpage .select-ios{
//     padding: 0 0 5px!important;
// } 
page-payment .tab button:hover{
    background-color: transparent !important;
  }
}
