<ion-header>
    <!-- <ion-navbar> -->
            <!-- style="width: 100%;padding-top: 20px; padding-bottom: 17px;"
            style="width: 80%;float: left;    margin-top: -4px;"<div class="container" style="width: 100%; ">
         style="width: 20%;float: left;background-color: transparent;" -->
         <div class="headerbg_wh">
      <div class="container" style="    display: flex;
        width: 100%;">
         <button icon-only   style="    flex: 1; background-color: transparent;" >
            <i (click)="gotoback()" class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <ion-title style="flex: 9;" >{{"CUSTOMERINFO" | translate}}</ion-title>
    </div>
    <!-- </ion-navbar> -->
    </div>
</ion-header>
<ion-content>
   
    <div class="container" style=" margin-top: 30px; padding:0;border-bottom: 1px solid #d8d0d0;" >
        <div class="tab">
            <button class="tablinks one" style="border-bottom: 3px solid;    width: 33.33%;" (click)="opentab('1')"  >{{"CUSTOMERINFO" | translate}}</button>
            <button class="tablinks two" style="width: 33.33%;" (click)="opentab('2')" >{{"Ordersummary" | translate}}</button>
            <!-- {{"SHIPPINGMETHOD" | translate}} -->
            <button class="tablinks three" style="width: 33.33%;  padding-left: 0px; padding-right: 0px;" (click)="opentab('3')"  >{{"PAYMENT" | translate}}</button>
        </div>
    </div>
    <div class="container" style="padding-top: 24px;">
        <div id="one" style="margin-bottom:30px;">
            <div class="container-fluid pt-5"> 
                <div class="loginpage">
                    <div class="form-group" style='padding-bottom: 24px;width: 100%' >
                        <input  class="line-animation" placeholder='{{"EMAIL" | translate}}' type="text" style="width: 45%;float: left" [(ngModel)]="emailone" >
                        <input *ngIf="opendom==0"  class="line-animation" placeholder="@gmail.com" type="text" style="float: left" [(ngModel)]="emailtwoto" >
                        <ion-select *ngIf="opendom==1"  class="line-animation" [(ngModel)]="emailtwo"  style="color:black; width: 45%; float: left;margin-left: 25px;font-size: 14px;padding: 0 0 3px;margin-top: 0px;" (change)='changedom()' >
                            <ion-option value="@gmail.com">@gmail.com</ion-option>
                            <ion-option value="@hotmail.com">@hotmail.com</ion-option>
                            <ion-option value="other">Other</ion-option>
                        </ion-select>
                        <div class="line"></div>
                    </div>
                    <div class="form-group"  >
                        <input  class="line-animation"  placeholder='{{"FNAME" | translate}}'  type="text" [(ngModel)]="fname" style="width:45%;float: left">

                        <input  class="line-animation" placeholder='{{"LNAME" | translate}}'   type="text" [(ngModel)]="lname" style="width:45%;float: left;margin-left: 25px !important ">
                        <div class="line"></div>
                    </div>
                    <div class="form-group" style='padding-bottom: 0px;'>
                        <input  class="line-animation" placeholder='{{"ADDRESS" | translate}}'  [(ngModel)]="address" type="text">
                        <div class="line"></div>
                    </div>
                    <div class="form-group" style='padding-bottom: 10px;'>
                        <!-- <ion-select class="line-animation" [(ngModel)]="city" style="color:black; max-width: 100%;width:100%;float: left;font-size: 14px;padding: 0 0px 5px;" >
                            <ion-option  value="">{{"CHOOSEYOURCITY" | translate}} </ion-option>
                            <ion-option *ngFor="let ci of citylist" value="{{ci}}">{{ci}}</ion-option>
                        </ion-select> -->
                        <input  class="line-animation" placeholder='{{"City" | translate}}' [(ngModel)]="city"  type="text">
                        <!-- <select class="line-animation" [(ngModel)]="city" style="color:black; width:100%;float: left;font-size: 14px;" >
                            <option  value="">{{"CHOOSEYOURCITY" | translate}} </option>
                            <option *ngFor="let ci of citylist" value="{{ci}}">{{ci}}</option>
                        </select> -->
                        <div class="line"></div>
                    </div>

                    
                     <div class="form-group s_quntity" style="margin: 15px 0 0 !important;">
                        <ion-item>
                            <ion-label>{{"Selectcountry" | translate}}</ion-label>
                        <ion-select class="line-animation" [(ngModel)]="country" style="color:black; max-width: 100%;width:100%;float: left;font-size: 14px;padding: 0 0px 5px;" >
                            <ion-option  value="">{{"CHOOSEYOURCOUNTRY" | translate}} </ion-option>
                            <ion-option (ionSelect)="selectcountry(co.iso)" *ngFor="let co of countrylist" value="{{co.phonecode}}">{{co.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                     <!--     <select class="line-animation" [(ngModel)]="country" style="color:black; width:35%;float: left;font-size: 14px;" >
                            <option  value="">{{"CHOOSEYOURCOUNTRY" | translate}} </option>
                            <option *ngFor="let co of countrylist" value="{{co.phonecode}}">{{co.name}}</option>
                        </select> -->

                        <!-- <input  class="line-animation" placeholder='{{"POSTCODE" | translate}}'  [(ngModel)]="postcode" type="text" style="width:47%;float: left;margin-left: 25px "> -->
                        <div class="line"></div>
                    </div>
                    <div class="form-group" style="margin: 10px 0 0 !important;">
                            <input  pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" class="line-animation" placeholder='{{"POSTCODE" | translate}}'  [(ngModel)]="postcode" type="number" >
                            <div class="line"></div>
                    </div>
                    <div class="form-group" style='padding-bottom: 0px;' style="margin: 10px 0 0 !important;">
                        <input  class="line-animation" placeholder='{{"MOBILENUMBER" | translate}}'  [(ngModel)]="mobile" type="text" readonly="true">
                        <div class="line"></div>
                    </div>
                    <div class="form-check-inline" style='padding-top: 15px;'>
                        <label class="form-check-label" style="font-size:12px;">
                            <input type="checkbox"  (click)="savetoinformation()" [(ngModel)]="information"  class="form-check-input" id="myCheck" > &nbsp;&nbsp;{{"SAVEINFO" | translate}} <a  style="text-align:right;"> {{"REFUNDPOLICY" | translate}}</a>
                        </label>
                    </div>

                    <button type="button" style="border: 0;
                    font-size: 12px;
                    margin-top: 10px;
                    letter-spacing: 0.6px;" (click)="custom_address()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModa789l">
                            {{"Address Option" | translate}}
                      </button>
                      
                      <!-- Modal -->
                      
                      <div class="modal fade secound_address" id="exampleModa789l" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <!-- <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add New Address</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div> -->
                            <div class="modal-body">
                                    
                                          <ul class="nav nav-tabs">
                                                <li id="firsttab"  class="active"><a data-toggle="tab" href="#home"> {{"Save address" | translate}}</a></li>
                                                <li *ngIf="2 > total_address" id="secounftab"  ><a data-toggle="tab" href="#menu1">{{"Add New address" | translate}}</a></li>

                                             
                                              </ul>
                                              
                                              <div class="tab-content">
                                                <div id="home" class="tab-pane fade in active">
                                                        <div *ngIf="c_status == 0" >
                                                                {{"Add New address" | translate}}
                                                             </div>
                                                             <div style="overflow-y:auto;max-height: 300px;" *ngIf="c_status == 1" >                                                    
            
                <!-- <div *ngFor="let b of c_all_address" class="c_addres"> 
                    <div >
                            !-- <input (click)="selectaddress(b.id)" style="width:20px;height:20px;display: inline-block; vertical-align: middle;" type="radio" name="gender" value="male"> 
                            <span class="addresinner">
                                    <div class="deletaddress" (click)="deleteaddress(b.id)"><ion-icon ios="ios-close" md="md-close"></ion-icon> </div>
                                            <div>                                 
                                                <div>{{b.address}}</div><span>{{b.city}}</span><span>{{b.country}}</span><span>{{b.zipcode}}</span>
                                            </div>
                                    </span> -->
                            
                        <!-- <input style="display: inline-block; vertical-align: middle;" type="radio" name="gender" value="female">
                        <span class="addresinner">
                        <div class="deletaddress" (click)="deleteaddress(b.id)"><ion-icon ios="ios-close" md="md-close"></ion-icon> </div>
                                <div >
                        - (click)="selectaddress(b.id)" --
                                    <div>{{b.address}}</div><span>{{b.city}}</span><span>{{b.country}}</span><span>{{b.zipcode}}</span>
                                </div>
                        </span> --
                    </div>                    
                </div> -->
                <ion-list radio-group  class="optionaddress">
                        <ion-item  *ngFor="let b of c_all_address">
                          <!-- <ion-label>{{b.address}} {{b.city}} {{b.country}} {{b.zipcode}}</ion-label>
                          <ion-radio value="friends"></ion-radio> -->
                          <ion-radio  (ionSelect)="selectaddress(b.id)"></ion-radio>                          
                          <ion-label> <div class="deletaddress" (click)="deleteaddress(b.id)"><ion-icon ios="ios-close" md="md-close"></ion-icon> </div>{{b.address}},<br> {{b.city}} ,{{b.country_name}}, {{b.zipcode}} </ion-label>                          
                        </ion-item>     
                </ion-list>

                <button type="button" style="text-align: center; display: block;background-color: #ae9435; color: #fff;margin: 30px auto 15px;" class="btn btn-secondary" data-dismiss="modal">{{"SAVE" | translate}}</button>
                
            
                                                            </div>
                                                </div>
                                                <div id="menu1" class="tab-pane fade">
                                                    
                                                        <div class="form-group" style='padding-bottom: 0px;'>
                                                                <input  class="line-animation" placeholder='{{"ADDRESS" | translate}}'  [(ngModel)]="c_address" type="text">
                                                                <div class="line"></div>
                                                            </div>
                                                            <div class="form-group" style='padding-bottom: 10px;'>
                                                                <input  class="line-animation" placeholder='{{"City" | translate}}' [(ngModel)]="c_city"  type="text">
                                                                <div class="line"></div>
                                                            </div>
                                                            
                                                             <div class="form-group s_quntity" >
                                                                    <ion-item>
                                                                    <ion-label>{{"Selectcountry" | translate}} </ion-label>
                                                                <ion-select class="line-animation" [(ngModel)]="c_country" style="color:black; max-width: 100%;width:100%;float: left;font-size: 14px;padding: 0 0px 5px;" >
                                                                    <ion-option  value="">{{"CHOOSEYOURCOUNTRY" | translate}} </ion-option>
                                                                    <ion-option *ngFor="let co of countrylist" value="{{co.phonecode}}">{{co.name}}</ion-option>
                                                                </ion-select>
                                                            </ion-item>
                                                                
                                                            </div>
                                                            <div class="form-group">
                                                                    <input pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" class="line-animation" placeholder='{{"POSTCODE" | translate}}'  [(ngModel)]="c_zipcode" type="number">
                                                                    <div class="line"></div>

                                                            </div>
                                                            <button style="margin-top: 15px;" type="button" (click)="newaddress()" class="btn btn-primary">{{"savenewaddress" | translate}}</button>
                                                </div>
                                             
                                              </div>
                                
                            </div>
                            <div class="modal-footer">
                              <button type="button" id="closemodal" class="btn btn-secondary" data-dismiss="modal">{{"close" | translate}}</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>
<!-- modal -->
                </div>
            </div> 
            
        </div>       
        <div id="two" style="display: none">
            <div *ngIf="nocart == 0" style="    text-align: center; margin-top: 83px; font-size: 20px; color: #848484;">{{"NOITEMINCART" | translate}}</div>
            <div class="pt-5" *ngIf="nocart==1">
                    <div class="" style="padding-top: 20px; padding-bottom: 10px;height: 100vh;">
                            <div  style="width: 100%" >
                                <div class="cart_bl" *ngFor="let ci of cartitems">
                                    <div class="col-xs-4" style="padding: 0px;width:20%;">
                                        <img src="{{ci.image}}" style="height: 105px; width: 105px;">
                                    </div>
                                    <div class="col-xs-4" style="padding:0 10px;width:40%;">
                                        <div  style="    margin: 0 0 3px;
                                        line-height: 18px;">
                                            <span style="width: 60%; font-weight: bold;">{{ci.name | slice: 0:25}}</span>  
                                        </div>
                                        <!-- <p style='margin:0;'>
                                            <span style="color: red;font-weight: bold;">{{"SAR" | translate}} {{ci.price}}</span>
                                        </p>  -->
                                        <div *ngIf="ci.is_discount == 1">
                                            <p  style="color: red;
                                            font-weight: bold;
                                            margin: 0;
                                            line-height: 20px;
                                            font-size: 14px;">{{"SAR" | translate}} {{ci.discount_price}}</p>
                                            <span  style="text-decoration: line-through;
                                            color: grey;
                                            font-size: 12px;
                                            margin: 0;
                                            line-height: 16px;"> {{"SAR" | translate}} {{ci.price}}  </span>  <span style="font-size:12px;">/{{ci.type | translate}}</span>                        
                                           </div>
                                            <div *ngIf="ci.is_discount == 0">
                                            <p class="text-center" style="color: red;font-weight: bold; line-height: 20px;"> {{"SAR" | translate}} {{ci.price}} </p>/{{"METER" | translate}}
                                           </div>
                                        <p style='margin:0;'>
                                            <span style="font-weight: bold;">{{"COLOR" | translate}} : <span  style="width: 15px;height: 15px;padding: 0px 8px;
                                                margin: 0 5px; " [ngStyle]="{'background-color': ci.color}"></span> </span>
                                        </p> 
                                    </div>
                                    <div class="col-xs-4" style="width:40%;padding:5px 0 0;">
                                        <a (click)="deleteConfirm(ci.id,ci.color)" ><i  class="fa fa-trash-o" aria-hidden="true" style="font-size:20px; margin-left: 60px;color: black;"></i></a>
                                        <a class="addtocart1">
                                            <span class="minus bg-dark" (click)="minusitem(ci.quen,ci,ci.id,ci.color);"  style="display: inline-block; width:22%;text-align: center;">-</span>
                                            <input type="tel" class="count" name="qty"  placeholder="{{ci.quen | number : '1.1-2'}}" style="background-color:#fadf12;width: 50%;text-align: center;border: antiquewhite" readonly>
                                            <span class="plus bg-dark" (click)="plusitem(ci.quen,ci,ci.id,ci.quantity_stock,ci.color);" style="display: inline-block; width:22%;text-align: center;">+</span>
                                                                </a>
                                                                {{"METER" | translate}}
                                    </div>
                    
                                    <!-- <div class="col-xs-12" style='padding: 0;'><hr style="border-color: #c3a1a1 !important;"></div> -->
                                </div>           
                            </div>
                            <!-- coupn code start -->
                            <label class = "coupon item item-input">
                                <ion-input  class="custom_input" [(ngModel)]="couponcode" placeholder='{{"EnterCouponCode" | translate}}' name="coupon" autocorrect="on" clearInput="true" clearOnEdit="true" type="text" inputmode="text"></ion-input>
                                <button *ngIf="couponshow==0" (click)="coupon()"> {{"ApplyCouponCode" | translate}}</button>
                                <div *ngIf="couponshow==1" (click)="removecoupon()" style="color: #ff2626;    margin-left: 15px;float: right;text-align: center; line-height: 27px;font-size: 24px;"><i  class="fa fa-trash-o" aria-hidden="true" style="    font-size: 24px;
                                    color: #d41e1e;"></i> </div>   
                                <button *ngIf="couponshow==1" (click)="coupon()" style="cursor: not-allowed;
                                pointer-events: none; text-shadow: none; box-shadow: none;opacity: 0.75;">{{"AppliedCouponCode" | translate}}</button>
                             </label> 
                             <div *ngIf="couponshow==1" style="display: block; margin-bottom: 15px;width: 100%;background-color: #ABEBC6;color: #014c0b;padding: 10px;text-align: center; letter-spacing: 0.5px;" > {{"AppliedCouponCode" | translate}}</div>
                            
                            <!--  coupon code end-->
                    <p style="    border-bottom: 1px solid #0000006b;
                    color: #000;
                    font-weight: 600;
                    font-size: 15px;">{{"COSTSTRUCTURE" | translate}} </p>
                            <div style="width: 100%">
                                <div class="col-xs-6" style="padding: 0px;">
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SUBTOTAL" | translate}}</h4>
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"TAXCART" | translate}}</h4>
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"ShippingCharges" | translate}}</h4>
                                    <h4 *ngIf="couponshow ==1" class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"COUPONAMOUNT" | translate}}</h4>
                                    <h4 style="    border-top: 1px solid #000;
                                    padding-top: 8px;
                                    font-size: 15px;" class="myorderh4 font-weight-bold">{{"PAYABLEAMOUNT" | translate}}</h4>
                                </div>
                                <div class="col-xs-6" style="padding: 0px;">
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{totalamount | number:'1.1-2'}}</h4>
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{taxablevalue | number:'1.1-2'}} </h4>
                                    <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{shipping_charge | number:'1.1-2'}} </h4>
                                    <h4 *ngIf="couponshow ==1" class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : - {{ct | number:'1.1-2'}}</h4>
                                    <h4 style="    border-top: 1px solid #000;
                                    padding-top: 8px;
                                    font-size: 15px;" class="myorderh4 font-weight-bold">{{"SAR" | translate}} : {{subtotalpay | number:'1.1-2'}}</h4>
                                </div>
                            </div>        
                        </div> 
                <!-- <div class="loginpage">
                    <div class="form-group"  style='width: 100%;padding-bottom: 30px;'>
                        <input class="line-animation" id="changeemail" [(ngModel)]="emailone" type="text" *ngIf="bcngemail==0" readonly style="width:40%;float: left;">
                        <input class="line-animation" id="changeemail" [(ngModel)]="emailtwo" type="text" *ngIf="bcngemail==0" readonly style="width:40%;float: left;">
                        <input class="line-animation" id="changeemail" [(ngModel)]="emailone" type="text" *ngIf="bcngemail==1" style="width:40%;float: left;">
                        <input class="line-animation" id="changeemail" [(ngModel)]="emailtwo" type="text" *ngIf="bcngemail==1" style="width:40%;float: left;">
                        <label style="color:#0CF; font-size:13px; width:19%;float: left;"><a *ngIf="bcngemail==0"  style="color: #10cfcf !important;" (click)="changeinemail()">{{"CHANGE" | translate}}</a><a *ngIf="bcngemail==1"  style="color: #10cfcf !important;" (click)="savechangeinemail()">{{"SAVE" | translate}}</a></label>
                        <div class="line"></div>
                    </div>
                    <div class="form-group" style='width: 100%;padding-bottom: 24px;'>
                        <input  class="line-animation" id="changeaddress" [(ngModel)]="address" *ngIf="bcngaddress==0" readonly type="text" style="width:80%;float: left;">
                        <input  class="line-animation" id="changeaddress" [(ngModel)]="address" *ngIf="bcngaddress==1"  type="text" style="width:80%;float: left;">
                        <label style="color:#0CF; font-size:13px; width:19%;float: left;"><a *ngIf="bcngaddress==0" style="color: #10cfcf !important;" (click)="changeinaddress()">{{"CHANGE" | translate}}</a><a *ngIf="bcngaddress==1"  style="color: #10cfcf !important;" (click)="savechangeinaddress()">{{"SAVE" | translate}}</a></label>
                        <div class="line"></div>
                    </div>
                   
                   
                    <br><br>
                    <div class="row">
                        <a style="float: left;width: 100%">
                            <i class="fa fa-angle-left" aria-hidden="true" style="color:#10cfcf; font-size:20px;float: left;width: 10%"></i><p style="font-size:16px; color:#0CC; margin-left:-10px;float: left;width: 70%">{{"RETURNTOCUSTOMERINFO" | translate}}</p>
                        </a>
                    </div>
                    
                </div> -->
            </div>
        </div>
        
        <div id="three" style="display: none">
            <div class="container-fluid pt-5">
                <!--<div class="loginpage">
                    <div class="form-group"  style='width: 100%;padding-bottom: 30px;'>
                        <input class="line-animation" id="changeemaillast" [(ngModel)]="emailone" type="text" *ngIf="bcngemaillast==0" readonly style="width:40%;float: left;">
                        <input class="line-animation" id="changeemaillast" [(ngModel)]="emailtwo" type="text" *ngIf="bcngemaillast==0" readonly style="width:40%;float: left;">
                        <input class="line-animation" id="changeemaillast" [(ngModel)]="emailone" type="text" *ngIf="bcngemaillast==1" style="width:40%;float: left;">
                        <input class="line-animation" id="changeemaillast" [(ngModel)]="emailtwo" type="text" *ngIf="bcngemaillast==1" style="width:40%;float: left;">
                        <label style="color:#0CF; font-size:13px; width:19%;float: left;"><a *ngIf="bcngemaillast==0"  style="color: #10cfcf !important;" (click)="changeinemaillast()">{{"CHANGE" | translate}}</a><a *ngIf="bcngemaillast==1"  style="color: #10cfcf !important;" (click)="savechangeinemaillast()">{{"SAVE" | translate}}</a></label>
                        <div class="line"></div>
                    </div>
                    <div class="form-group" style='width: 100%;padding-bottom: 0px;'>
                        <input  class="line-animation" id="changeaddresslast" [(ngModel)]="address" *ngIf="bcngaddresslast==0"  readonly type="text" style="width:80%;float: left;">
                        <input  class="line-animation" id="changeaddresslast" [(ngModel)]="address"  *ngIf="bcngaddresslast==1"  type="text" style="width:80%;float: left;">
                        <label style="color:#0CF; font-size:13px; width:19%;float: left;"><a *ngIf="bcngaddresslast==0" style="color: #10cfcf !important;" (click)="changeinaddresslast()">{{"CHANGE" | translate}}</a><a *ngIf="bcngaddresslast==1"  style="color: #10cfcf !important;" (click)="savechangeinaddresslast()">{{"SAVE" | translate}}</a></label>
                        <div class="line"></div>
                    </div>
                   
                </div>-->
                <br><br>
                <h4 style="color:black; font-weight:bold; font-size:12px;     margin-top: -5px;"><a style="font-size: 17px;color: black;"> {{"PAYMENTINFORMATION" | translate}}</a></h4>    
                <form style="font-size:12px;padding: 10px;">
                    <input type="radio" name="gender" value="male" checked> <span style="font-size:15px;margin-left: 10px;"> {{"PAYMENTONDELIVERY" | translate}}</span><br>
                    <div (click)="underprocess()"><input type="radio" name="gender" value="visa"  disabled='disabled'> <span style="font-size:15px;margin-left: 10px;" > {{"VISA" | translate}} <img src="assets/imgs/visa.png" style="    margin-top: 0px;     width: 20%;"> </span> </div><br>
                    <div  style="margin-top: -20px;"(click)="underprocess()"><input type="radio" name="gender" value="sadad" disabled='disabled'><span style="font-size:15px;margin-left: 10px;" >  {{"SADAD" | translate}} <img src="assets/imgs/sadad.png" style="    margin-top: 0px;     width: 17%;"> </span></div>
                </form> 
                <h4 style="color:black; font-weight:bold; font-size:14px; margin:15px; margin-left:0px; "><a style="font-size: 17px;color: black;">{{"SHIPPINGMETHOD" | translate}}	</a></h4>    
                <form style="font-size:12px;padding: 10px;">
                    <input type="radio" name="gender" value="male" checked><span style="font-size:15px;margin-left: 10px;"> {{"SAMEASSHIPPINGADD" | translate}}</span> <br>
                    <div (click)="gotoadresssection()"><input type="radio" name="gender" value="female" disabled='disabled'><span style="font-size:15px;margin-left: 10px;">  {{"USEADIFFRENTADD" | translate}} </span></div><br>
                </form>
                <div class="row" style="position:fixed; bottom:0px; width:105%;    margin-left: -34px;">
                    
                </div>
            </div>
            
        </div>
    </div>
</ion-content>
<ion-footer style="padding: 0;">
    <div id="onefooter" class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
        <div class="row" >
            <div class="col" style="padding:0px; margin:0px;">
                <button (click)="gotoback()" class="btn btn-primary btn-block Update-Cart-btn" style="height:50px;">{{"RETURNTOCART" | translate}}</button> 
            </div>
            <div  class="col" style="padding:0px; margin:0px;">
              <!--position: sticky;bottom: 0;   <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="savetoinformationto()">{{"SAMEASSHIPPINGADD" | translate}}</button>--> 
                <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="savetoinformationto()">{{"PAYMENT" | translate}}</button> 
            </div>
        </div>
    </div>
   <div id="twofooter" class="row" style="width:100%;display: none;padding: 0;">
    <div class="row" >
    <div *ngIf="nocart== 1" class="col" style="padding:0px; margin:0px;">
        <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="goshippingmethod()">{{"Countinuetopayment" | translate}} </button> 
    </div>
    <div *ngIf="nocart== 0" class="col" style="padding:0px; margin:0px;">
        <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="gohome()">{{"ADDMOREITEM" | translate}}  </button> 
    </div>
</div>
        <!-- {{"CONTINUESHIPPINGMETHOD" | translate}} -->
    </div>
    <div id="threefooter" class="container-fluid" style="padding-right: 0px;padding-left: 0px;width: 100%;display: none">
        <div class="row" >
            <div class="col" style="padding:0px; margin:0px;">
               <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="completeorder()">{{"COMPLETEORDER" | translate}}</button> 
            </div>
        </div>
    </div>
</ion-footer>
