<ion-menu [content]="content">


<ion-content>
    <div>
        <div class="media" style="z-index:888; background-color:#ae9435;     height: 86px;padding: 10px">
            <div class="media-body" style=" display: block;
            width: auto;">
                <img src="{{userimage}}" class="align-self-center" style="    display: inline-block;
                vertical-align: middle;width:60px">
                <h4 class="profileh4" style="    display: inline-block;
                width: calc(100% - 70px);
                margin: auto;
                text-align: center;
                vertical-align: middle;"> {{username}} </h4>
                
            </div>
           
           
        </div>
        <div class="cmedia mt-1" style="margin: 10px 0; ">
            <div class="cmedia-body">
                <div style="width: 60%;display: flex;padding-left: 12px;margin:0 auto;">
                    <div class="lpsize" >English</div>
                    <!-- <label style="width: 28%;float: left" class="switch"> -->
                        <!-- <input id="checkboxid" type="radio" ng-reflect-model="false" value="false" (click)="gotohomepage('HomePage')" checked="false" (change)="changelaguagefunction()" [(ngModel)]="lang" data-toggle="toggle" > -->
                        <!-- <input type="checkbox" id="checkboxid" ng-reflect-model="false"  value="false" (click)="gotohomepage('HomePage')" (change)="changelaguagefunction()" [(ngModel)]="lang" >
                        <span class="slider round"></span>  -->
                        <ion-toggle checked="false" (click)="gotohomepage('HomePage')" (ionChange)="changelaguagefunction()" [(ngModel)]="lang"></ion-toggle>
                    <!-- </label> -->
                    <div class="lpsize" style="margin-left: 15px;">Arabic</div>
                </div>
               
                <div  *ngIf="logoutshow==1" style="font-size:15px; text-align: -webkit-center; font-weight:400; color:#818181; margin: 10px 10px 5px;">
                    <ion-icon (click)="gotomyaccount()"  name="pin"></ion-icon> 
                    {{useraddress}}
                    <ion-icon (click)="gotomyaccount()"  name="create"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <ion-list>
        <hr>
        <a  style="padding-left: 15px;color:black; display: block;" (click)="gotohomepage('HomePage')"> <img style="    width: 23px;" src="assets/imgs/icon-images/home.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"HOME" | translate}} </a>
        <br>
        <a  style="padding-left: 15px;color:black; display: block;" (click)="gotocategorypage('HomePage')"> <img style="    width: 23px;" src="assets/imgs/icon-images/category.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"CATEGORY" | translate}} </a>
        <br *ngIf="logoutshow==1">
        <a *ngIf="logoutshow==1" style="padding-left: 15px;color:black;  display: block;" (click)="gotoorderpage('MyOrderPage')"><img style="    width: 23px;" src="assets/imgs/icon-images/list.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"MYORDER" | translate}} </a>
        <br>
        <a style="padding-left: 15px;color:black;    display: block;" (click)="gotocartpage('myCartPage')"><img style="    width: 23px;" src="assets/imgs/icon-images/shopping-cart.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"MYCART" | translate}} </a>
        <br *ngIf="logoutshow==1">
        <a *ngIf="logoutshow==1" style="padding-left: 15px;color:black;    display: block;"(click)="gotowishlistpage('MyWishlistPage')"> <img style="    width: 23px;" src="assets/imgs/icon-images/tag (1).png"> &nbsp;&nbsp;&nbsp;&nbsp; {{"MYWISHLIST" | translate}} </a>
        <br>
        <a *ngIf="logoutshow==1" style="padding-left: 15px;color:black;" (click)="gotomyaccount()"><img style="    width: 23px;" src="assets/imgs/icon-images/customer-service.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"MYACCOUNT" | translate}} </a>
        <br *ngIf="logoutshow==1" ><br *ngIf="logoutshow==1">
        <a style="padding-left: 15px;color:black;" (click)="gotofaq()"><img style="    width: 23px;" src="assets/imgs/icon-images/faq.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"FAQS" | translate}} </a>
         <br><br>
        <a *ngIf="logoutshow==1" style="padding-left: 15px;color:black;    display: block;" (click)="gotosignpage('SignupPage')"> <img src="assets/imgs/icon-images/logout.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"LOGOUT" | translate}} </a>
       <br><br>
        <a *ngIf="logoutshow==0" style="padding-left: 15px;color:black;    display: block;" (click)="signpage('SignupPage')"> <img src="assets/imgs/icon-images/logout.png">&nbsp;&nbsp; &nbsp;&nbsp; {{"SIGNUP" | translate}}</a>
    </ion-list>
</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>