
a.cet{
	
	font-size:12px;
	padding: 4px 4px 2px 1px;
	line-height: 14px;
	font-family: 'PT Sans', sans-serif;
	}


body{
 font-family: 'PT Sans', sans-serif !important;
 transition: background-color .5s;
}

.headerh4
{
    color:black; 
    font-size:16px;
    padding-bottom:5px;
    margin-bottom: 10px;
    margin-top: 20px;
    height:30px;
   
}
::-webkit-scrollbar {
  width: 0px !important;
}
.img-custom
{
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 100%;
}
.shadowfooter{
     width:100%; 
     position:fixed; 
     bottom:0px; background-color:white;
     z-index:9999; 
     background-color:white; 
     margin-top:70px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    -moz-box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    box-shadow: 0px -1px 5px 0px rgba(133,129,133,1);
    padding-top:5px;
}
page-orderDetails .progress-step:hover .progress-marker {
  background-color: #b6b6b6 !important;
}
page-orderDetails .progress-step.is-complete .progress-marker {
  background-color: #1976D2 !important;
}
page-dashboard .color_boxes{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
page-dashboard .color-box{
  width: 15px;
  height: 15px;
  margin: 0px 5px;
}
.cancel{
  display: none;
}
.cancel.is-complete{ 
  display: block;
}
.col.ordercanceltrack,.progress-tracker.ordercanceltrack{
  display: none;
}
.myorderh4.ordercomplte{
  color:#155724;
  font-weight:600;
}
page-orderdetails .content-ios:not([no-bounce]) > .scroll-content::before{
  content: none !important;
}
.deli{
  display: none;
}
.deli.deliveredtext{
  display:block;
}
.col.orderelitrack{
display: none;
}
.center {
   position: fixed;
   top: 0%; 
   left:0;
  width:100%; 
  
}

.my-carth4{
font-size:18px; 
margin-top:10px;
    
}

.profileh4{
	
	font-size:20px;
	font-weight:bold;
	margin-top:35px;
	color:white;
	}

@media (max-width: 370px)
{
    
   
  .my-carth4
   {
      font-size:10px;
   }
   
   a.iconname{
	   font-size:10px;
	   line-height:20px;
	   }
	   
  a.iconname img
              {
	  				height:20px;
					width:20px;
	            }
	  
  .tab button
   {
      font-size:10px;
   }
   
   .notificationh3 {
    text-align: left !important;
    font-size: 10px;
    font-weight: bold !important;
}


.product span{
    text-align: left !important;
    font-size: 12px !important;
    font-weight: bold !important;
}



a.cet{
	
	font-size:12px;
	padding: 4px 4px 2px 1px;
	    line-height: 14px;
	}
	


}
hr { 
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	border-color:#000 !important;
	margin-top:5px !important;
}

.loginpage input[type=text], select {
  border: none;
  border-bottom: 1px solid #5f5b5b;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


.loginpage input[type=number], select {
  border: none;
  border-bottom: 1px solid #5f5b5b;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


.signup-form input[type=password], select {
  border: none;
  border-bottom: 1px solid #5f5b5b;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}

.signup-form input[type=password], select {
  border: none;
  border-bottom: 1px solid #5f5b5b;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
}


input[type=password], select.collor{
  border: 1px solid #999;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: none;
  border-radius:28px;
}

.signup-form input[type=text]:focus, select:focus {
  outline: none;
}
.loginpage input[type=text]:focus, select:focus {
  outline: none;
}
.signup-form input[type=password]:focus, select:focus {
  outline: none;
}

.register
 {
	
		background-color:#ae9435 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
		margin-bottom:10px;
			
	}
	
.register:hover
 {
	
		background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
			
	}

	
.skip
 {
	
		background-color:white !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 8px 50px;
		color:black !important;
		margin:3px;
			
	}


.Update-Cart-btn{
	background-color:black !important;
	border-color:black !important;
	border-radius:0px !important;
	font-weight:bold;
	
	}

.CheckOut-btn{
	border-color:#ae9435 !important;
	background-color:#ae9435 !important;
	border-radius:0px !important;
	font-weight:bold !important;
	}
	
	.CheckOut-btn:hover{
	
	border-radius:0px !important;
	font-weight:bold !important;
	}
	
.Add-Cart-btn{
	    background-color:#ae9435 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 10px;
		font-size:13px;
		
	}
.Add-Cart-btn:hover{
    background-color: #300 !important;
    border-color: #ae9435 !important;
    border-radius: 28px;
    padding: 2px 5px;
  	font-size:13px;
}
	.update{
		
	    background-color:black !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 2px 5px;
		color:white !important;
			font-size:13px;
		
	}
	
	
	.updatebtn{
		
	    background-color:black !important;
		border-color:black !important;
		border-radius: 28px;
		padding: 10px;
		color:white !important;
		font-size:13px;
		
	}
.updatebtn:hover{
    background-color: #300 !important;
    border-color: black !important;
    border-radius: 28px;
    padding: 2px 5px;
    color: white !important;
   	font-size:13px;
}	
.update:hover{
	    background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
	
	}
	
.skip:hover
 {
	
		background-color:#300 !important;
		border-color:#ae9435 !important;
		border-radius: 28px;
		padding: 8px 50px;
	    color:white !important;
	}

.product{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 margin-bottom:10px;
	}
	


	.product .card-body{
		padding:12px !important;
	}
	
	.product .card-body p{
		padding-bottom: 2px !important;
		margin-bottom:0px !important;
		font-size:12px;
	}
	
	.product .card-body .length{
		padding-bottom: 2px !important;
		margin-bottom:0px !important;
		font-size:13px;
		font-weight:600;
		margin-bottom:5px !important;
	
	}
	
	.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.product:hover .image {
  opacity: 0.3;
}

.product:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  
  padding: 16px 32px;
}


/*------searchbox css--------*/
		
		#search 
		  {
			float: right;
			margin-top:9px;
			width: 250px;	
       	}
	
.search {
		   padding: 5px 0;
		   width:100%;
		   height:30px;
		
		   left: 10px;
		   float:left;
		   line-height: 22px;
   }
.search input 
    { 
         position:absolute;
        width:0px;   
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        background: white;
	    height:30px;
		  line-height: 18px;
	    //font-style: padding:0 2px 0 2px;
	    font-size: 15px;color: #fff; 
		outline: none; -webkit-appearance: none; 
		border-radius: 10;
	    border-width:0;
		
	 }
	 
.search:hover input ,  .search input:focus
     {
	   width: 90%;
	   margin-left: 0px;
	   background-color:transparent;
	   color:black;
	   font-size:12px;
       border-bottom:2px solid #F90;
	    }
       
.srch_btn{ 
	
		 height:30px;
		 width:30px; 
		 background:white url(images/mag_glass.png) no-repeat center center;
		 position: absolute;
		 right:0;
		 top:5px; 
		 cursor: url(images/cursor2.png) 5 5, auto;
		}
/*----------------tab------------*/


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
    transition: 0.3s;
    font-size: 13px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom:2px solid #999;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 3px;
  
    border-top: none;
}

input:-moz-read-only { /* For Firefox */
    color:#666;
	font-size:14px;
}

input:read-only {
    color:#666;
	font-size:14px;
}

.notificationp{
	text-align:left !important;
	font-size:14px;
	}
.notificationh3 {
    text-align: left !important;
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold !important;
}
.bg-light{
	margin-bottom:10px;
	}
	
.myorderh4{
	text-align:left;
	font-size:14px;
	font-weight:600;
	}
	
input[type="text"].otpinput 
	
	{
	
	border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
	border-bottom: 1px solid #5f5b5b;
	background-color: inherit;
	display: block;
	width: 100%;
	text-align:center;
	font-weight:bold;
	margin: none;
	
	}
	
.productdescriptionh2
  {
	font-size:18px; 
	text-align:center;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	}


.productdescriptionh3
  {	
    font-size:16px; 
	text-align:center;
	font-weight:400;

	margin-bottom:10px;
	
  }
  
  
.sidenav {
    display: none;
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    -webkit-box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 5px -9px rgba(0,0,0,0.75);

}

.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #313030;
	font-weight:normal;
    display: block;
	font-family: 'PT Sans', sans-serif;
	margin-left:5px;
}

a.cet{
	
	font-size:14px;
	padding: 4px 4px 2px 1px;
	line-height: 18px;
	font-weight:bold;
	margin-bottom: 10px;
    
}
.sidenavh4
   {
	  font-size:13px;
	  font-weight:bold;
	  background-color:white; 
	  padding:10px;
	  background-color:#ae9435;
	  color:white;
	  
	}	


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 36px;
    margin-left: 50px;
	color:white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
  
  
  
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

	/* Style the tab */


/* Style the buttons inside the tab */
.tab1 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab1 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent1 {

    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.next{
	background-color:#b8914c !important;
	border-color:#b8914c !important;
	}


.progress-bar-vertical {
  width: 10px;
  min-height: 100px;

  margin-right: 10px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  background-color:#030;
}
.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;}
	
	
	.tracking .ship-scale {
    width: 90%;
    margin: 40px 0 50px;
    height: 30px;
    position: relative;
}
a{
    color: black !important;
}
a:hover {
    color: #337ab7;
    text-decoration: none !important;
}
button, input, select, textarea {
    font-family: roboto;
    font-size: inherit;
    line-height: inherit;
}

.toolbar-background-md {
    border-color: #ffffff !important;
    background: #ffffff !important;
}
.toolbar-background-ios {
    background: #ffffff !important;
}

.back-button-ios {
  
    color: black !important;
    margin-top: -14px !important;
}
.bar-button-default {
     color: black !important;
    margin-top: -14px !important;
}

.loginpage input[type=tel], select {
    border: none;
    border-bottom: 1px solid #5f5b5b;
    background-color: inherit;
    display: block;
    width: 100%;
    margin: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  margin: 0;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input[type=checkbox]:checked + .slider {
  background-color: #2196F3;
}

.switch input[type=checkbox]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider {
  position: absolute; 
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}



/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.lpsize{
    width: 40%;
    font-size: 15px;
    // margin-top: -3px;
    font-weight: 600;
    line-height: 29px;
    vertical-align: middle;
}
.toolbar-ios {
    padding-top: env(safe-area-inset-top);
  }
  
  ion-footer,.login_footer  {
  // left: 0;
  // bottom:0;
  // position: absolute;
  // z-index: 10;
  // display: block;
  // width: 100%;
  // padding:0 0 15px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #fff;
   padding: 10px 0;
  margin-bottom:20px; /* Status bar height on iOS 10 */
  margin-bottom: constant(safe-area-inset-bottom); /* Status bar height on iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* Status bar height on iOS 11+ */
  
}
.myorder_search form-group{
  margin:0;
}
.myorder_search .input-group-addon{
  width:40px;
}
page-myOrder .deliverycss{
  padding:0 !important;
  width:100%;
}
.myaccount .scroll-content{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
 
}
ion-header{  
// padding-top:31px; 
    /* Status bar height on iOS 10 */
    // padding: 16px 0;
    // padding-top: 0 !important;
    /* Status bar height on iOS 11.0 */
    // margin-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    padding-top: env(safe-area-inset-top); 
}

.myaccount .form-group{
  margin-bottom: 20px;
  display: block;
  overflow: hidden;


  
}
.myaccount .media{
  margin-bottom: 25px;
}
page-addtocart .col.imgslidesp{
  padding: 3px !important;
}
ion-header .headerbg_wh{
  padding: 15px 0;
  background-color: #000000;
  color: #fff;
}
page-payment .tab button:hover{
  background-color: transparent !important;
}
ion-header .headerbg_bl{
  background-color: #000000;
  padding: 15px 0;
}
ion-header .toolbar-title-ios{
font-size: 20px;
}
.myorder_search .input-group{
  width: 100%;
}
.cttitle{
  font-size: 20px;
}
.toolbar-title-ios{
  text-align: left; 
  color:#ffffff !important;
}
.MiddleFix{
  position: relative;
  left: 0;
  right: 0;
  top: 9px;
  height: 45px;
}
.list-ios{
  margin:0;
}
page-dashboard .catvalue{
  background-color: red;
  color: white;
  border-radius: 21px;
  padding-right: 4px;
  font-weight: 700;
  font-size: 11px;
  position: absolute;
  right: -5px !important;
  top: -5px !important;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.top_nav
{
    z-index: 888;
    background-color: #ae9435;
    height: 103px;
    padding: 10px;
    padding-top: 30px;
}
.custom_select
{
max-width: 100% !important;
    background-color: #000 !important;
    width: 100% !important;
    padding: 15px 30px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    color: #ffffff !important;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    max-height: 50px;
}
page-categoryDetails .colorBox {
    display: inline-block !important;
}
.custom_center
{
    display: block;
    text-align: center;
    margin: 0 auto;
}



.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline:0 !important;
  outline-offset: 0 !important;
}
.login_footer.active{
  display:none;
}
.loginpage input[type=text], select ,
.loginpage input[type=number], select {
  margin: 2px 0 10px;
}
.signuppage .loginpage input[type=number]{
  border-bottom: 0;
}
page-search .completer-holder{
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;  
  margin: 0 !important;
}
page-search input[type=search]{
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important; 
  height: auto !important;
} 
.updatebtn:hover,.Add-Cart-btn:hover{
  padding: 6px 12px !important;
  border-color: transparent !important;
}
.loginpage input[type=text], .loginpage select{
margin: 0 !important;
}
page-payment .loginpage .form-group{
  margin: 0 0 20px !important;
}
.input-cover{
  position: inherit!important;
}
page-categoryDetails .btn{
  display:block !important;
  width:80%;
  margin:0 auto;
}
.list-md{
  // margin: 0 0 15px;
  margin:0;
}
.custom_select{
  padding: 15px 30px !important;
}
.CheckOut-btn{
border:0 !important;
}
.Update-Cart-btn{
  border:0 !important;
}
.coupon{
  width: 100%;
}
.coupon ion-input{
  border-bottom: 1px solid #ddd;
  width: calc(100% - 170px);
  float: left;
  vertical-align: middle;
}
.coupon .text-input-md{
  margin: 5px 8px;
  padding-right: 15px !important;
}
.coupon button{
  // width: 130px;
  // float: right;
  width: auto;
  float: right;
  padding: 7px 15px;
  background-color: #ae9435;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 13px;
  border-radius: 5px;
}

.secound_address .nav-tabs>li>a {
  margin-right: 0;
  line-height: 1.42857143;
  border-radius: 0;
  border: 0;
 // background-color: #ae9435;
  text-align: center;
  //color: #fff !important;
  //opacity: 0.7;
}
.secound_address .nav-tabs>li.active>a,
 .secound_address .nav-tabs>li.active>a:focus, 
 .secound_address .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border: 0;
  background-color: #ae9435;
  color: #fff !important;
  opacity: 1;
}
.secound_address .modal-body {
  position: relative;
  padding: 10px;
  min-height: 250px;
}
.secound_address .c_addres{
  background-color: #ddd;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.secound_address .c_addres span{
  padding: 0 5px 0 0;
}
.secound_address .nav-tabs>li {
width: 50%;
}
.secound_address {
  text-transform: capitalize;
}
.modal-backdrop.in{
  display: none;
}
.modal-footer {
  padding: 5px 10px;
}
.om.modal-backdrop.in {
  display: block;
}
.btn{
  text-transform: capitalize;
}
.myorder_search .input-group-addon{
  height: 30px;
} 
page-zoomimg .swiper-pagination{
  display: none;
}
.deletaddress {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  top: -5px;
  outline: 0;
  z-index: 9999;
}

page-payment ion-content{
  background-color: rgb(245, 244, 244);
}
// .modal-open page-payment ion-content{
//   background-color: rgba(0, 0, 0, 0.5);
// } 
.modal-open page-payment .modal {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
page-payment .modal-content{
  min-width: 360px;
}
.secound_address .c_addres span.addresinner{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 25px);
  padding: 0;
  margin: 0;
}
.cmedia-body .toggle-md{
  padding: 7px 10px;
  width: 50px;
}
#home .item-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#home .item-inner{
  flex-direction: row-reverse;
    justify-content: flex-end;
}
#home .item-md{
  background-color: #ddd;
  white-space: normal;
  overflow: visible;
  margin: 10px 0;
  padding: 10px; 
  contain: none;
  transition: none;
  box-shadow: none;
  outline: 0;
}
#home .label{
  padding: 0;
  margin: 0;
  color: #000;
  text-align: left;
  white-space: normal;
  line-height: 18px;
  font-size: 14px;
}
#home .list-md{
  margin: 15px 0 0;
  // padding: 10px 0;
}
.pz-zoom-button[_ngcontent-c0]{
  top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
page-signup .select-md .select-icon .select-icon-inner{
  margin-top: 0;
}
page-signup .select-md .select-icon{
  width: auto;
  height: auto;
}
.s_quntity ion-label{
  display: none;
}
.s_quntity .item-md,
.s_quntity .item-md.item-block .item-inner{
padding: 0;
border:0;
}
.addtocart1 {
  background-color: #fadf12 !important;
  border-radius: 28px;
  border: 1px solid #fadf12;
  display: inline-block;
  cursor: pointer;
  color: black !important;
  font-size: 13px;
  padding: 6px 10px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
page-payment .loginpage input[type=text], page-payment select, input{
 text-transform: initial !important;  
}
.footer-ios .item-ios.item-block .item-inner{
  padding: 0;
  border:0;
}
.footer-ios .item-ios{
  background-color: #000;
  padding: 0;
}
page-payment .loginpage .select-ios{
  padding:0 7px 7px 8px !important;
  border-bottom: 0.5px solid #c8c7cc;
}
page-addtocart .item-ios .custom_select{
  padding:14px 30px !important ;
}
.s_quntity .item-ios{
  padding: 0 !important;
}
.s_quntity  .item-ios.item-block .item-inner{
padding: 0 !important;
border:0 !important;
}
#exampleModa789l .item-ios{
  margin: 15px 0;
  padding: 0;
  overflow: visible;
}
#exampleModa789l .item-ios{
  margin:5px 0 0;
  padding:0;
  overflow:visible;
}
#exampleModa789l .list-ios .item-block .item-inner{
  padding:10px 0;
  background-color:#ddd;
}
#exampleModa789l .item-ios .radio-ios{
  width:20px;height:20px;line-height:20px;border:1px solid #000;border-radius:50%;}
#exampleModa789l .nav-tabs{
    margin-bottom:15px;
}
#exampleModa789l .modal-footer .btn{
  background-color: #ddd;
}
.content-ios .loginpage .item-cover{
  padding:0;}
 page-payment .loginpage input[type=text], page-payment select{border-radius:0;}
 .cart_bl {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #5b5f5f;
}
.coupon {
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 15px 0;
}