<ion-header style="background-color: white;">
    <!-- <ion-navbar > -->
            <div class="headerbg_wh">
                    <div class="container">
        <ion-title >{{"MOBILEVERIFICATION" | translate}}</ion-title>
        </div>
        </div>
    <!-- </ion-navbar> -->
</ion-header>


<ion-content style="background-color: rgb(245, 244, 244);">
    <div class="container-fluid pt-5 align_content" style="margin-top: 100px;">
        <div class="loginpage " style="padding:0px 15px;padding-top: 0px;">
             <div class="form-group form-inline" style="width: 100%">
                <label style="width:10%;float: left"><img src="assets/imgs/icon-images/flag.png" style="color: #292727; margin-top: -4px; height:24px;"></label>
                <!--<input name="userCcountry" class="line-animation" placeholder="Saudi Arabia" type="text"  style="color:black; width:90%;float: left" >-->
                <select class="line-animation" style="color:black; width:80%;float: left;font-size: 17px;" >
                    <option *ngFor="let co of countrylist" value="{{co}}">{{co}}</option>
                </select>
                <div class="line"></div>
            </div>
           
            <br><br>
            <div class="form-group form-inline" style="width: 100%;margin-top: 25px;">
                <label style="width:10%;float: left;font-size: 17px;"><img src="assets/imgs/icon-images/call-answer.png" style="    margin-top: 0px; height:24px;"></label>
                <input name="userCcountry" class="line-animation" placeholder="" type="tel" style="color:black; width:80%;float: left;font-size: 17px;" [(ngModel)]="mobilenumber" >
                <div class="line"></div>
            </div>
            <br><br>
            <div class="row" style="width: 100%;padding-left: 32px;padding-top: 30px;">
                <div class="col-md-12 col-lg-12" style="float: left;width:100%">
                    <button class="btn btn-primary  btn-block register" style="border-radius: 21px;" (click)="login()" >{{"SUBMIT" | translate}}</button>
                </div>
            </div>
            <!--<div class="row" style="width: 100%;padding-left: 32px;    margin-top: 35px;">
                <div class="col-md-12 col-lg-12" style="float: left;width:100%">
                    <button class="btn btn-primary  btn-block register" style="border-radius: 21px;background-color: white !important;color: black" (click)="gohome()">Skip</button>
                </div>
            </div>-->
            <br>
        </div>
    </div>
    
</ion-content>

