page-search {
    .mysearch {
    background-color: transparent;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.searchbar-md .searchbar-input {
        box-shadow: none;
    background-color: lightgray;
    border: none;
    padding: 3px 55px;
    
}
 
input[type=search] {
        width: 100%;
        border: none;
    background-color: #eaeaea;
    border-radius: 4px;
    -webkit-box-sizing: unset;
    box-sizing: unset;
        height: 28px;
    padding: 5px;
}
.completer-holder {
    width: 100%;
    border: none;
    background-color: #eaeaea;
    border-radius: 4px;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    margin-left: -21px;
    margin-top: 6px;
}
}
