<ion-header>
    <!-- <div class="CustomTop"> -->
            <div class="headerbg_bl">
            <div class="container">
                <div class="row" style="display: flex; justify-content: center;align-items: center;">
                    <div class="col-xs-2" style="width: 16.66666667%;">
                        <a (click)="goback()"><img class="LefFix" src="assets/images/left.png"> </a>
                    </div>
                    <div class="col-xs-10" style="width:80%;">
                            
                       <ng2-completer [(ngModel)]="searchStr" formControlName="searchStr"   [datasource]="dataService" [minSearchLength]="0" placeholder='{{"Search" | translate}}'></ng2-completer>
                    </div>
                   
                </div>
            </div>
            </div>
    <!-- </div> -->
</ion-header>
	
	

<ion-content>
   
    <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
     
        <div class="row" style="margin-top: 14px;" >
            <div *ngFor="let pl of productlist | filter: searchStr"   (click)="gocatgorydetails(pl.product_id)" style="    width: 100%;">
                <div class="col-xs-4" style="padding:19px;padding-top: 0px;">
                    <img src="{{pl.image}}" style="    height: 72px;width: 200px;">
                </div>
                <div class="col-xs-8" style="padding:0;">
                    <p style="margin:0;">
                        <span style="width: 60%; font-weight: bold;">{{pl.name}}</span>  
                    </p>
                    <p style='margin:0;'>
                        <span style="color: red;font-weight: bold;">SAR {{pl.price}}</span>
                    </p>
                </div>
                <div class="col-xs-12" style='padding: 0;'><hr></div>
            </div>
        </div>

    </div>  
</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
        <div (click)="gotohome()" style="text-align:center; width:20%; float:left;">
            <a class="iconname"  style="color:black;font-size: 12px;"> 
                <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                <br>
                {{"HOME" | translate}}  
            </a>
        </div> 
        <div (click)="gotosearch()" style="text-align:center; width:20%; float:left;">
            <a class="iconname"  style="color:black;font-size: 12px;"> 
                <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                <br>
                {{"SEARCH" | translate}}</a>
        </div>
        <div  (click)="gotocat()"  style="text-align:center; width:20%; float:left;">
            <a class="iconname" style="color:black;font-size: 12px;">  
                <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                <br>
                {{"CATEGORY" | translate}} </a>
        </div>
        <div (click)="gotobag()"  style="text-align:center; width:20%; float:left;">
            <a class="iconname" style="color:black;font-size: 12px;"> 
                <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                <br>
                {{"BAG" | translate}}
            </a>
        </div>
        <div (click)="gotoaccount()"   style="text-align:center; width:20%; float:left;">
            <a  class="iconname" style="color:black;font-size: 12px;"> 
                <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                <br>
               {{"MYACCOUNT" | translate}} </a>
        </div>
    </ion-toolbar>
</ion-footer> -->

<!-- <ion-footer>
        <div style="display:flex;background-color: #f0f0f0;padding-top:8px;padding-bottom:8px;">
           <div (click)="gotohome()" style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocatpage()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer> -->

<ion-footer>
        <div style="display:flex;">
           <div (click)="gotohome()" style='flex:1;text-align:center'>
               <a class="iconname"  style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                   <br>
                   {{"HOME" | translate}} 
               </a>
           </div> 
           <div (click)="gotosearch()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                   <br>
                   {{"SEARCH" | translate}}</a>
           </div>
           <div (click)="gotocatpage()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;">  
                   <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                   <br>
                   {{"CATEGORY" | translate}} </a>
           </div>
           <div (click)="gotobag()"  style='flex:1;text-align:center'>
               <a class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                   <br>
                   {{"BAG" | translate}}
               </a>
           </div>
           <div (click)="gotoaccount()"  style='flex:1;text-align:center'>
               <a   class="iconname" style="color:black;font-size: 10px;"> 
                   <img class="img-fluid" style="height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                   <br>
                   {{"MYACCOUNT" | translate}} </a>
           </div>
        </div>
</ion-footer>
