page-cartitem {
    .addtocart1 {
    background-color: #fadf12 !important;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #fadf12;
    display: inline-block;
    cursor: pointer;
    color: black !important;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 8px;
    width: 100%;
    text-align: center;
}
.bg-dark {
    background-color: transparent !important;
}

}
