
<ion-header>
        <div class="headerbg_wh">
    <div class="container" >
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span (click)="gotohome()" style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left"  aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"YOURCARTITEM" | translate}}</small> </span>
    </div>
    </div>
</ion-header>


<ion-content style="background-color: rgb(245, 244, 244);">
   
    <div class="container-fluid" *ngIf="nocart==1" style="padding-top: 20px; padding-bottom: 10px;height: 100vh;">
        <div  style="width: 100%; display: inline-block;">
            <div class="cart_bl" *ngFor="let ci of cartitems">
                <div class="col-xs-4" style="padding: 0px;width:20%;">
                    <img src="{{ci.image}}" style="height: 105px; width: 105px;">
                </div>
                <div class="col-xs-4" style="padding:0 10px;width:40%;">
                    <div  style="    margin: 0 0 3px;
                    line-height: 18px;">
                        <span style="width: 60%; font-weight: bold;">{{ci.name | slice: 0:25}}</span>  
                    </div>
                    <!-- <p style='margin:0;'>
                        <span style="color: red;font-weight: bold;">{{"SAR" | translate}} {{ci.price}}</span>
                    </p>  -->
                    <div *ngIf="ci.is_discount == 1">
                        <p  style="color: red;
                        font-weight: bold;
                        margin: 0;
                        line-height: 20px;
                        font-size: 14px;">{{"SAR" | translate}} {{ci.discount_price}}</p>
                        <span  style="text-decoration: line-through;
                        color: grey;
                        font-size: 12px;
                        margin: 0;
                        line-height: 16px;"> {{"SAR" | translate}} {{ci.price}}  </span>  <span style="font-size:12px;">/{{type | translate}}</span>                        
                       </div>
                        <div *ngIf="ci.is_discount == 0">
                        <p class="text-center" style="color: red;font-weight: bold; line-height: 20px;"> {{"SAR" | translate}} {{ci.price}} </p>/{{type | translate}}
                       </div>
                    <p style='margin:0;'>
                        <span style="font-weight: bold;">{{"COLOR" | translate}} : <span  style="width: 15px;height: 15px;padding: 0px 8px;
                            margin: 0 5px; " [ngStyle]="{'background-color': ci.color}"></span> </span>
                    </p> 
                </div>
                <div class="col-xs-4" style="width:40%;padding:5px 0 0;">
                    <a (click)="deleteConfirm(ci.id,ci.color)" ><i  class="fa fa-trash-o" aria-hidden="true" style="font-size:20px; margin-left: 60px;color: black;"></i></a>
                    <a class="addtocart1">
                        <span class="minus bg-dark" (click)="minusitem(ci.quen,ci,ci.id,ci.color);"  style="display: inline-block; width:22%;text-align: center;">-</span>
                        <input type="tel" class="count" name="qty"  placeholder="{{ci.quen | number : '1.1-2'}}" style="background-color:#fadf12;width: 50%;text-align: center;border:#5f5b5b" readonly>
                        <span class="plus bg-dark" (click)="plusitem(ci.quen,ci,ci.id,ci.quantity_stock,ci.color);" style="display: inline-block; width:22%;text-align: center;">+</span>
                                            </a>
                                            {{ci.type | translate}}
                </div>

                <!-- <div class="col-xs-12" style='padding: 0;'><hr style="border-color: #c3a1a1 !important;"></div> -->
            </div>           
        </div>
        <!-- coupn code start -->
        <!-- <label class = "coupon item item-input">
            <ion-input  class="custom_input" [(ngModel)]="couponcode" placeholder="Enter Coupan Code" name="coupon" autocorrect="on" clearInput="true" clearOnEdit="true" type="text" inputmode="text"></ion-input>
            <button  (click)="coupon()"> {{"ApplyCouponCode" | translate}}</button>
         </label>
         -->
       
        
        <!--  coupon code end-->
<p style="border-bottom: 1px solid #5f5b5b;color: #000;font-weight: 600;font-size: 15px;padding: 0px 0 5px;margin: 0px 0 5px;">{{"COSTSTRUCTURE" | translate}} </p>
        <div style="width: 100%">
            <div class="col-xs-6" style="padding: 0px;">
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SUBTOTAL" | translate}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"TAXCART" | translate}}</h4>
                <!-- <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"ShippingCharges" | translate}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"COUPONAMOUNT" | translate}}</h4> -->
                <h4 style="    border-top: 1px solid #5f5b5b;
                padding-top: 8px;
                font-size: 15px;" class="myorderh4 font-weight-bold">{{"TOTALAMOUNT" | translate}}</h4>
            </div>
            <div class="col-xs-6" style="padding: 0px;">
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{totalamount | number:'1.1-2'}}</h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : {{taxablevalue | number:'1.1-2'}} </h4>
                <!-- <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : 0.00 </h4>
                <h4 class="myorderh4 font-weight-bold" style="font-size: 12px;font-weight: 500;">{{"SAR" | translate}} : - {{ct | number:'1.1-2'}} </h4> -->
                <h4 style="    border-top: 1px solid #5f5b5b;
                padding-top: 8px;
                font-size: 15px;" class="myorderh4 font-weight-bold">{{"SAR" | translate}} : {{subtotalpay | number:'1.1-2'}}</h4>
            </div>
           <p style="color: red; font-size: 15px;">*{{"SHIPPINGCONTENT" | translate}}</p> 
        </div>        
    </div> 
    <div *ngIf="nocart==0" style="    text-align: center; margin-top: 83px; font-size: 20px; color: #848484;">{{"NOITEMINCART" | translate}}</div>
</ion-content>
<ion-footer style="padding: 0;">
   
    <div style="background-color:#ffffff;    z-index: 1;    width: 100%;">
        <div style="width: 100%">
            <div class="col" style=" margin:0px;" style="width: 50%;float: left;padding:0px;">
                <button  class="btn btn-primary btn-block Update-Cart-btn" style="height:50px;" (click)="gotohome()">{{"ADDMOREITEM" | translate}}</button> 
            </div>
            <div class="col"  style="width: 50%;float: left;padding:0px;">
                <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;" (click)="gotopayment()">{{"PROCEED" | translate}}</button>  
            </div>
        </div>
    </div>
</ion-footer>
