<!-- <ion-header style="z-index: 99999999999999999999999;">
    <ion-navbar >
        <div class="container" >
            <div  (click)="gotoback()"  class="container" style=" padding-top: 10px; padding-bottom: 10px;">
                <span style="font-size:20px; cursor:pointer;" ><i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i> &nbsp;<small style="font-weight: 500;">&nbsp;&nbsp; {{"ADDTOCRT" | translate}} </small></span>
               
            </div>
        </div>
    </ion-navbar>
</ion-header> -->

<ion-header>
    <div class="headerbg_wh">
    <div class="container">
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <!-- <span (click)="gotoback()"  style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"ADDTOCRT" | translate}}</small> </span>
        <span  (click)="removewishlist()" style="cursor:pointer;float: right;  " ><i  *ngIf="wishliststatus==1" class="fa fa-heart" aria-hidden="true" style="margin-right:1px;    font-size: 26px;color:#FF0000;"></i></span>
        <span (click)="addwishlist()"  style="cursor:pointer;float: right;  " ><i  *ngIf="wishliststatus!=1" class="fa fa-heart" aria-hidden="true" style="margin-right:1px;    font-size: 26px;color:#d6c9a8;"></i></span> -->
        <div  (click)="gotoback()"  class="container">
            <span style="font-size:20px; cursor:pointer;" ><i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i> &nbsp;<small style="font-weight: 500;">&nbsp;&nbsp; {{"ADDTOCRT" | translate}} </small></span>
           
        </div>
    </div>
</div>
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);">
  
    <!--<div style="text-align: -webkit-center;margin-top: 44px;">   <img style="    height: auto; width: auto;" #myImage (click)="presentImage(myImage)"  src="{{mainimage}}" /></div>-->
    
    <a (click)="leftfunction()" style="    position: fixed;
    left: 0;
    z-index: 999999999;
    top: 20%;
    width: 40px;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;">
     <img src="assets/images/left-arrow.png" style="    height: 20px;
     margin: 0 auto;" />
    </a>
    
    <div style="text-align: -webkit-center;"> 
        <pinch-zoom style=' width: auto;margin: 50px 0 0;'>
            <img src="{{mainimage}}" /> 
        </pinch-zoom>
    </div>
    <a (click)="rightfuction()" style="    position: fixed;
    right: 0;
    z-index: 999999999;
    top: 20%;
    width: 40px;
    margin: 0 auto;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;"> <img src="assets/images/right-arrow.png" style="height: 20px;
    margin: 0 auto;" /></a>

    <div class="tab1" style="margin: 0 auto; position: fixed; bottom: 75px;left: 0;right:0;text-align: center;z-index: 9999;	">
        <ion-slides  autoplay="200000" class="slideroption" pager="true"   loop="true" speed="300">
            <ion-slide >
                <a  *ngFor="let slide of zoomingimg"  (click)="opennewimg(slide.image,slide.quen)"  class="tablinks" >
                    <img src="{{slide.image}}" style="width:45px;">
                </a>
            </ion-slide>
        </ion-slides>
     
        <!-- <a  *ngFor="let slide of zoomingimg"  (click)="opennewimg(slide.image,slide.quen)"  class="tablinks" >
            <img src="{{slide.image}}" style="width:45px;">
        </a> -->
    </div>
 </ion-content >
 
 
 
 <!--<ion-content style="background-color: rgb(245, 244, 244);">

        <ion-slides   *ngIf="showsingleimg=='0'"  style="text-align: -webkit-center;margin-top: -44px;" zoom="true">
            <ion-slide *ngFor="let slide of addimageto" >
                <div class="swiper-zoom-container" >
                    <img  src="{{slide.img}}"  style="height: auto; width: auto;">
                </div>
            </ion-slide>
        </ion-slides>
    
        <ion-slides   *ngIf="showsingleimg=='1'"    style="text-align: -webkit-center;margin-top: -44px;" zoom="true">
            <ion-slide >
                <div class="swiper-zoom-container"  >
                    <img (click)="closenewimg()" src="{{singleimg}}"  style="height: auto; width: auto;">
                </div>
            </ion-slide>
        </ion-slides>
   
   
    <div class="tab1" style="margin: 0 auto; position: fixed; bottom: 75px;left: 25%;   z-index: 9999;	">
        <a  *ngFor="let slide of zoomingimg"  (click)="opennewimg(slide.image)"  class="tablinks" >
            <img src="{{slide.image}}" style="width:45px;">
        </a>
       
    </div>
    
 </ion-content >-->
