page-zoomimg{
       
  image-viewer.ion-page ion-navbar .bar-button-default {
   color: #232121!important;
               margin-top: -20px !important;
} 

.back-button-ios {
    margin: 0;
    z-index: 99;
    overflow: visible;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    min-height: 3.2rem;
    line-height: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: black !important;
    margin-top: -14px;
}
pinch-zoom{
    height: -webkit-fill-available !important;
    
}
    
}


