<ion-header>
        <div class="headerbg_wh">
    <div class="container" style="width: 100%;">
        <button style="text-align: left; width: 20%;float: left;background-color: transparent;" icon-only >
            <i (click)="gohome()" class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <ion-title style="width: 80%;font-size: 20px; float: left;">{{"SIGNUP" | translate}}</ion-title>
    </div>
    </div>
</ion-header>
<ion-content class="signuppage" style="background-color: rgb(245, 244, 244);">    
    <div class="container-fluid pt-5 align_content" style="margin-top: 61px;">
        <div class="loginpage " style="padding:0px 15px;padding-top: 0px;">
             <div class="form-group form-inline" style="width: 100%">
                <label style="vertical-align: middle;line-height: 30px;width:12%;margin:0;float: left"><img src="assets/imgs/icon-images/flag.png" style="color: #292727;height:24px;"></label>
                <!--<input name="userCcountry" class="line-animation" placeholder="Saudi Arabia" type="text"  style="color:black; width:90%;float: left" >-->
            
                <ion-select [(ngModel)]="countrycode" class="line-animation" style="border-bottom: 2px solid #a9a9a9;max-width: 100%;padding: 0 10px 10px;color:black; width:80%;float: left;font-size: 17px;" >
                  
                    <ion-option *ngFor="let co of countrylist" value="{{co.phonecode}}">{{co.name}}</ion-option>
                </ion-select>
                <div class="line"></div>
            </div>
           
            <br><br>
            <div class="telephone_inner form-group form-inline"  (click)="checkFocus()"  style="width: 100%;margin-top: 25px;display: block;overflow: hidden;">
                <p style="position: absolute;font-size: 18px;  margin-top: 2px; margin-left: 40px;">+ {{countrycode}}</p>
                <label style="width:12%;float: left;font-size: 17px;"><img src="assets/imgs/icon-images/call-answer.png" style="    margin-top: 0px; height:24px;"></label>
                <ion-input  pattern="[0-9]*" decimal="true" allow-multiple-decimals="true" name="userCcountry" id="telephone" class="line-animation telephone" placeholder="" type="number"  style="color:black; width:78%;float: left;font-size: 17px; padding-left: 59px;" [(ngModel)]="mobilenumber" ></ion-input>
                <!-- (ngModelChange) ="modhlcg()" -->
                <div class="line"></div>
            </div>
            <br><br>
            <div class="row" style="width: 95%;padding-top: 30px; margin: 0 auto;">
                <div class="col-md-12 col-lg-12" style="float:left;width:100%">
                    <button class="btn btn-primary  btn-block register" style="border-radius: 21px;" (click)="login()" >{{"REGISTER" | translate}}</button>
                </div>
            </div>
            <div class="row" style="width: 95%;margin: 35px auto 0;">
                <div class="col-md-12 col-lg-12" style="float: left;width:100%">
                    <button class="btn btn-primary  btn-block register" style="border-radius: 21px;background-color: white !important;color: black" (click)="gohome()">{{"SKIP" | translate}}</button>
                </div>
            </div>


            <br>
           <!--<h3 style="color:#666; font-size:14px; text-align:center;color: #292727;">Already Registerd ? Login Here </h3>-->
        </div>
    </div>

</ion-content> 
<ion-footer style="padding: 10px 0;">
        <div class="" style="width: 100%;padding: 0 15px; ">
                <div style="float: left;width: 40%;">
                    <span style="font-size:16px;color: #292727;">{{"sharewith" | translate}}</span>
                </div>
                <div style="float: left;width: 50% ">
                  <a href="https://www.facebook.com/La-Estrella-online-2061855837269923/?modal=admin_todo_tour" ><img style="margin-left: 0px;width: 25px;" alt="facebook" src="assets/imgs/facebooklogo.png"></a>
                  <a href="https://twitter.com/laestrella_on" ><img style="margin-left: 20px; width: 25px;" alt="twitter"  src="assets/imgs/Twitter-icon.png"></a>
                  <a href="https://www.instagram.com/laestrella.online/"><img style="margin-left: 20px;width: 25px;" alt="instagram"  src="assets/imgs/instagram.png"></a>
                </div>
            </div>
</ion-footer>
<!-- <div class="login_footer row m-0" style="background-color: #f5f4f4;position: absolute; bottom: 0; width:100%;padding:10px 15px;z-index:999;margin: 0;">
      
        <div class="col" style="width: 100%">
            <div style="float: left;width: 40%;">
                <span style="font-size:16px;color: #292727;">{{"LOGIN_WITH" | translate}}</span>
            </div>
            <div style="float: left;width: 50% ">
                <img style="margin-left: 0px;width: 25px;" src="assets/imgs/facebooklogo.png">
                <img style="margin-left: 20px; width: 25px;"   src="assets/imgs/Twitter-icon.png">
                <img style="margin-left: 20px;width: 25px;"  src="assets/imgs/google-logo.png">
            </div>
        </div>
    </div> -->
