page-signup{
    .telephone {
    border: none !important;
    border-bottom: 2px solid darkgrey !important;
    background-color: inherit !important;
    display: blocks; 
    width: 100%;
    margin: none;
       
}
.loginpage .item-cover{
    position: inherit;
    width: auto;
    height: auto;
}
.login_footer.active{
    display: none;
}

}