
<ion-header>
    <div class="headerbg_wh">
    <div class="container">
            <!-- style=" padding-top: 20px; padding-bottom: 20px;" -->
        <span (click)="gotoback()"  style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"ADDTOCRT" | translate}}</small> </span>
        <span  (click)="removewishlist()" style="cursor:pointer;float: right;  " ><i  *ngIf="wishliststatus==1" class="fa fa-heart" aria-hidden="true" style="margin-right:1px;    font-size: 26px;color:#FF0000;"></i></span>
        <span (click)="addwishlist()"  style="cursor:pointer;float: right;  " ><i  *ngIf="wishliststatus!=1" class="fa fa-heart" aria-hidden="true" style="margin-right:1px;    font-size: 26px;color:#d6c9a8;"></i></span>
    </div>
</div>
</ion-header>

<ion-content style="background-color: rgb(245, 244, 244);">
    <div *ngIf="showContent == true" class="container-fluid" style="margin-top: 25px; "> 
            <!-- height: 100vh;padding-left: 0px; style="padding-left: 9px;" -->
    <div>
            <div *ngIf="slingleimageshow==1" >
                <ion-slides *ngIf="addimageto && addimageto.length" autoplay="200000" class="slideroption" pager="true"   loop="true" speed="300">
                    <ion-slide   *ngFor="let slide of addimageto">
                        <img (click)="opentomodel(addimageto)" src="{{slide.image}}" style="width: 100%;height: 41vh;" />
                    </ion-slide>
                </ion-slides>
            </div>
            <div (click)="closesingleimg()"  *ngIf="slingleimageshow==0" style="text-align: -webkit-center"><img (click)="openmodelto()"  src="{{singleimg}}" style="width: 100%;height: 41vh;" /></div>
            <div class="row" style="padding:0px;padding-top: 11px;">
                <div *ngFor="let slide of addimagetolist"    class="col imgslidesp" style="height: 7vh;text-align:center"> <img (click)="clickimage(slide.image)" src="{{slide.image}}" alt="Los Angeles" [ngStyle]="{'width': sliderWidth}"  style="height:7vh;margin:0 auto"></div>
            </div>
   
        
            
            <div class="row" style="padding-bottom: 15px;text-align:center;margin:0px;"> 
                <!-- <div></div> --> 
                <div style="width:100%;">
                        <h2 style="font-size: 18px;font-weight: 800" > {{name}}</h2> 
                    <h3 style="font-size: 15px;">{{protype}}</h3>
                   <!-- <i><h3 *ngIf="purchase_count != '0'" style="font-size: 15px; margin-top: 1px;color:red;"  >{{purchase_count}} User recently purchase this item <sup>*</sup></h3></i>
                    <i><h3 *ngIf="purchase_count == '0'" style="font-size: 15px; margin-top: 1px;color:red;"  >{{"CURRENTLY" | translate}} {{jan}} {{"USERVIEW" | translate}}<sup>*</sup></h3></i> -->
                    <i><h3 style="font-size: 15px; margin-top: 1px;color:red;"  >{{"CURRENTLY" | translate}} {{jan}} {{"USERVIEW" | translate}}<sup>*</sup></h3></i>  
                    <div *ngIf="is_discount == 1">
                        <span class="text-center" style="    color: #000000;
                        margin: 0;
                        line-height: 20px;
                        font-weight: 600;
                        font-size: 16px;">SAR {{discount_price}}</span>
                        <span class="text-center" style="    text-decoration: line-through;
                        color: grey;
                        font-size: 13px;
                        line-height: 20px;
                        margin: 0 10px;"> SAR {{price}}  </span>   <span style="color: #000;">/{{type | translate}} </span>                      
                       </div>
                        <div *ngIf="is_discount == 0">
                        <p class="text-center" style="color: grey;margin: 0; line-height: 20px;"> SAR {{price}} /{{type | translate}} </p>
                       </div>
                    
                       <!-- SAR {{price}} /{{"METER" | translate}}  -->
                    <h4 style="font-size: 15px;"> ( {{quantity_stock}} {{typeStock | translate}} )</h4>
                </div> 
            </div>
            <!-- below comment for color select -->
           <!-- <div class="form-group form-inline" style="margin-bottom: 0px; margin-top: -16px;">
                <label style="width:12%; font-size:13px; font-weight:400; float: left;">{{'COLOR' | translate}}</label>
                <select class="collor" (change)="onColorSelect($event)"style="width:25%;float: left; font-size:13px; font-weight:400; margin-left:2px;" [(ngModel)]="color" >
                 
                    <option *ngFor="let cl of colorlist" value="{{cl}}" >{{cl}}</option>
                </select>
                <label style="width:19%; float: left; margin-left: 63px; font-size:13px; font-weight:400;">{{'MATERIAL' | translate}}</label>
                <select class="collor" style="width:25%; font-size:13px;float: right; font-weight:400;     margin-left: -9px;" [(ngModel)]="promaterial" >
                    <option  *ngFor="let ml of materiallist" value="{{ml}}">{{ml}}</option>
                </select>
                <span *ngIf="selectedColor" style="margin-left:50px">{{selectedColor}}</span>
            </div> -->
            <div class="color_boxes">
               <div class="color-box" [ngClass]="{'active': checkColor == color}"  [ngStyle]="{'background-color':color,'border':none}" *ngFor = "let color of newColorArray" (click)="onColorChoose(color)">
     
               </div>
               <div (click)="getAllImageData()" style="margin-top:2px;">ALL</div>
            </div>
            <div >
                <div class="card" style="padding: 25px 0;">
                    <div class="card-body text-center" style="background-color: #eae5e5;padding: 10px; border-radius: 5px;">
                        <h4 class="myorderh4 font-weight-bold"> <strong>{{"SKU" | translate}} </strong>: {{sku}} </h4>
                        <h4 class="myorderh4 font-weight-bold">{{"DESCRIPTION" | translate}}
                            <span style="font-weight:400;" id="description"> </span>
                        </h4>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</ion-content> 
<ion-footer style="padding:0;">
       
    <div *ngIf="showContent == true" style="background-color:#ffffff;    z-index: 1;    width: 100%;">
        <div style="display:flex;">
            <div class="col s_quntity" style="padding:0px;">                 
                    <ion-item>
                            <ion-label>{{"SelectQuantity" | translate}} </ion-label>                 
                            <ion-select required class="custom_select" placeholder='{{"QUANTITY" | translate}}' [(ngModel)]="proquenty"  (change)="onOtherSelect($event)">                                   
                                <ion-option *ngFor="let ql of quantitylist" [value]="ql">{{ql}} {{type | translate}}</ion-option>
                            </ion-select>
                        </ion-item>           
            </div>
            <div class="col" (click)="Addtocartproduct()" style="padding:0px; ">
                <button  class="btn btn-primary btn-block CheckOut-btn" style="height:50px;width: 100%;"  >{{"ADDTOCRTBUTTON" | translate}}</button> 
            </div>
        </div>
    </div>
</ion-footer>