page-addtocart {
    .ionselect{
        margin: 0;
    border: 1px solid #000;
    border-radius: 13px;
    padding: 0 13px;
        
    }
    .Yellow{
        background-color: Yellow;
    }
    .Green{
        background-color: Green;
    }
    .Blue{
        background-color: Blue;
    
    }
    .Red{
        background-color: Red;
    
    }
    .smallscoll {
        display: flex;
    }
    .smalldiv {
    overflow: auto;
    width: 100%;
    display: inline-flex;
    }
    .col {
    padding: 0px;
 
}
.color_boxes{
    display:flex;
    justify-content: center;
    flex-direction:row;
}
.color-box{
    width:18px;
    height:18px;
    margin:2px 10px;

}
.active{
   border:2px solid #b6b6b6;
}
}


