
<ion-header>
        <div class="headerbg_wh">
    <div class="container" >
            <!-- style=" padding-top: 20px; padding-bottom: 15px;" -->
        <span (click)="gotoback()"  style="font-size:20px; cursor:pointer; " ><i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px;  padding-left: 10px;"></i> &nbsp; &nbsp; &nbsp;<small style="font-weight: 500;">{{"MYCART" | translate}} </small> </span>
        <span (click)="deletecrtitem()"  style="font-size:20px;cursor:pointer;float: right;" ><i class="fa fa-trash-o"   aria-hidden="true" style="font-size: 24px;color: #e4af33;"></i></span>
    </div>
    </div>
</ion-header>
<ion-content style="background-color: rgb(245, 244, 244);">
    <div class="container-fluid" style="margin-top: 23px;">
            <div class="media" >
                <div class="media-body" style="text-align: -webkit-center;">
                    <img class="" src="{{image}}" style="height: 204px;    width: 100%;padding-top: 6px;">
                </div>
            </div>
            <div class="row" style="padding: 17px;text-align: center;margin-top: -9px;"> 
                <div style="width: 100%;margin-top: -9px;"><h2 style="text-align: center;font-size: 18px;font-weight: 800" >{{name}}</h2></div>
                <div style="width: 88%;margin-top: -9px;"><h3 style="text-align: center;font-size: 16px;    padding-left: 30px;">{{protype}}</h3></div>
            </div>
            <div class="form-group form-inline" style="width: 100%;margin-bottom: 10px;">
                <label style="width:40px; font-size:12px; font-weight:400; ">{{"COLOR" | translate}}</label>
                <label   [ngStyle]="{'background-color': color}" style="margin-left:8px;margin-bottom:0px;font-size: 12px; font-weight: 400;width:15px;height: 15px;"></label>
                   
                <!--<label style="width:20%; float: left; margin-left:50px; font-size:12px; font-weight:400;">{{"MATERIAL" | translate}}</label>
                <label style="width: 16%;float: left; margin-left: 8px;font-size: 12px; font-weight: 400;border: 1px solid;border-radius: 12px;padding-left: 8px;">{{promaterial}}</label>-->
            </div>
       <br>
        <h4 class="myorderh4 font-weight-bold" style="margin-top: -9px;">{{"DESCRIPTION" | translate}} </h4>
        <p id="categorydetils" style="margin-top: -9px;"> </p>
        <hr style="border-color:#CCC;">
        <h4 class="myorderh4 font-weight-bold">{{"SUBTOTAL" | translate}}: 
            <span style="font-weight:400;">{{"SAR" | translate}} : {{totalamount}}</span>        
        </h4>
        <h4 class="myorderh4 font-weight-bold">{{"SHIPPING" | translate}} :
            <span style="font-weight:400;">{{"SHIPPINGCONTENT" | translate}} </span>
        </h4>
        <h4 class="myorderh4 font-weight-bold">{{"TOTAL" | translate}}: {{"SAR" | translate}} : {{totalamount}}      
        </h4>
    </div>
    <br>
    
    <br>    
    
</ion-content>
<ion-footer style="padding: 0;">    
    <div style="background-color:#ffffff;    z-index: 1;    width: 100%;">
        <div style="width: 100%">
            <div class="col" style="width: 50%;float: left;padding:0px;">
                 <button type="button" class="btn btn-primary btn-block Update-Cart-btn" style="height:50px;" (click)="gotoaddtocart()">{{"UPDATECART" | translate}}</button>
            </div>
            <div class="col" style="width: 50%;float: left;padding:0px;">
                <button type="button" class="btn btn-primary btn-block CheckOut-btn" style="height:50px" (click)="gotomycart()">{{"CHECKOUT" | translate}}</button> 
            </div>
        </div>
    </div>
</ion-footer>
