<ion-content >
    <div class="container" style="    height: 8vh;">
        <h4 style="color:black; font-size:16px; font-weight:bold; padding-bottom:0px; margin-bottom:0px; margin-top:17px;">
            <a (click)="gotoback()"><i class="fa fa-arrow-left" aria-hidden="true" style="margin-right:30px;"></i></a>{{"FAQ" | translate}}
        </h4>
    </div>
    <hr style="color:black;">
    <h2 style="text-align: center">FAQs</h2>
    <div style="padding: 40px;padding-top: 10px;">
        <p>Why do I see different prices for the same product?</p>
        <p>Why do I see different prices for the same product?</p>
        <p>Credit card EMI option, you can choose to pay in easy installments of 3, 6, 9, 12, 18, or 24 months, with credit cards from the following banks:</p>
        <p>The delivery of my order is delayed. What should I do?</p>
        <p>I had a valid Plus Coupon but I cancelled the order. Can I get the coupon again?</p>
        <p>What are the complete terms and condition for a particular Plus Coupon?</p>
             
    </div>
 </ion-content >
<ion-footer>
    <ion-toolbar >
            <div (click)="gotohome()" style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotohome()" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/home.png">
                    <br>
                    {{"HOME" | translate}} 
                </a>
            </div> 
            <div style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotosearch()" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/search.png">
                    <br>
                    {{"SEARCH" | translate}}</a>
            </div>
            <div  style="text-align:center; width:20%; float:left;">
                <a class="iconname" (click)="gotocat()" style="color:black;font-size: 12px;">  
                    <img  style="    height: 18px;" src="assets/imgs/icon-images/list.png">
                    <br>
                    {{"CATEGORY" | translate}}</a>
            </div>
            <div style="text-align:center; width:20%; float:left;">
                <a (click)="gotobag()" class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;" src="assets/imgs/icon-images/shopping-bag.png">
                    <br>
                    {{"BAG" | translate}}
                </a>
            </div>
            <div  style="text-align:center; width:20%; float:left;">
                <a  (click)="gotoaccount()"  class="iconname" style="color:black;font-size: 12px;"> 
                    <img class="img-fluid" style="    height: 18px;"  src="assets/imgs/icon-images/round-account-button-with-user-inside.png">
                    <br>
                    {{"MYACCOUNT" | translate}} </a>
            </div>
    </ion-toolbar>
</ion-footer>